<app-other-header>
</app-other-header>


<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home /Application</p>

        <h5 style="color: white;font-weight: 400;">School Name</h5>
    </div>
</div>

<div class="container">
    <div>

        <!-- {round_corner} -->
        <div class="row pt-2">
            <div class="col-sm-6"></div>
            <div class="col-sm-3"><button class="btn btn-outline-secondary submit px-5">Download Form</button>
            </div>
            <div class="col-sm-3"><button class="btn btn-outline-secondary submit px-5">Upload Form</button>
            </div>
        </div>

        <!-- {Details List} -->
        <div class="details">
            <label class="personal_info"> Basic Information </label>

        </div>
        <div class="details row">


            <div class="form-group col-sm-4">

                <input type="text" class="form-control" placeholder="First Name" name="firstname">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Middle Name" name="middlename">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Last Name" name="lastname">
            </div>
        </div>

        <div class="details row">
            <div class="form-group col-sm-4">

                <input type="text" class="form-control" placeholder="DOB" name="dob">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Gender" name="gender">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="For the Stream" name="username">
            </div>
        </div>



        <div class="details">
            <label class="personal_info"> Basic Information </label>

        </div>
        <div class="details row">


            <div class="form-group col-sm-4">

                <input type="text" class="form-control" placeholder="Father Name" name="fathername">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Mother Name" name="mothername">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Temp Address" name="temp_address">
            </div>
        </div>

        <div class="details row">
            <div class="form-group col-sm-4">

                <input type="text" class="form-control" placeholder="Mother Occupation" name="father_occupation">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Father Occupation" name="mother_occupation">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Permanant Address" name="perm_address">
            </div>
        </div>

        <div class="details row">
            <div class="form-group col-sm-4">

                <input type="text" class="form-control" placeholder="Phone Number" name="phone_number">
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Email Id" name="email_id">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="For NRI" name="for_nri">
            </div>
        </div>





        <!-- {categories} -->



        <div class="details">
            <label class="personal_info"> Categories </label>
        </div>
        <div class="details row">

            <div class="form-group col-sm-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">General
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">OBC
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">SC/ST
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">PH
                    </label>
                </div>
            </div>

        </div>





        <!-- {class} -->
        <div>
            <div>
                <label class="personal_info">Class</label>
            </div>
            <div class="form-group row">
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>Select</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- {class} -->

        <label class="personal_info">Select Stream (At least 3)</label>
        <div class="details row">
            <div class="form-group col-sm-4">
                <select class="form-control">
                    <option>Select</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <select class="form-control">
                    <option>Select</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <select class="form-control">
                    <option>Select</option>
                </select>
            </div>
        </div>





        <label class="personal_info">Educational Information</label>

        <div class="details row">
            <div class="form-group col-sm-4">
                <select class="form-control">
                    <option>10th</option>
                </select>
            </div>

            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Year of passing" name="year_of_passing">
            </div>


            <div class="form-group col-sm-4">
                <input type="text" class="form-control" placeholder="Marks Obtained" name="marks_obtained">
            </div>
        </div>



        <div class="row">
            <div class="form-group col-sm-12">
                <input type="text" class="form-control" placeholder="Remarks (If Any)" name="remarks">
            </div>


        </div>

        <button class="btn btn-outline-secondary submit mb-5">Add More</button><br>



        <div class="row">
            <div class="col-sm-4">
                <label class="personal_info">Upload Aadhar</label><br>
                <div class="custom-files mb-3">
                    <input type="file" class="custom-file-inputs" id="aadhar" name="filename">
                    <label class="custom-file-labels" for="aadhar"><img style="width: 100%;height: 100%;"
                            src="assets/images/plus.png"></label>
                </div>

                <div class="text-right">
                    <button type="button" class="btn btn-default">Delete</button>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="personal_info">Upload 10th</label><br>
                <div class="custom-files mb-3">
                    <input type="file" class="custom-file-inputs" id="tenth" name="filename">
                    <label class="custom-file-labels" for="tenth"><img style="width: 100%;height: 100%;"
                            src="assets/images/plus.png"></label>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default">Delete</button>
                </div>
            </div>

        </div>
        <button class="btn btn-outline-secondary submit mb-5">Add More</button><br>





        <label class="personal_info">Admin Notes</label>
        <div class="row">
            <div class="form-group col-sm-12">
                <textarea class="form-control" disabled rows="5" id="comment"></textarea>
            </div>


        </div>




        <div class="row pb5vh">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><button type="button" class="btn btn-dark submit px-5" data-toggle="modal" data-target="#confirm">SUBMIT</button></div>
            <div class="col-sm-4"></div>

        </div>


    </div>
</div>


<!-- modal -->

<div class="modal fade" id="confirm">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class=" pop_up_header ">
                <h4 class=" pop_up_header">YOUR OR NOT ELIGIBLE !</h4>

            </div>


            <div class="pop_up_txt">
                <label class="pop_up_txt"> You are not eligible to this colleges you are still want to continue?</label>

            </div>


            <div class="submit_button1 pb10">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8"><button class="btn submit_button btn-block">Yes</button></div>
                    <div class="col-sm-2"></div>
                </div>
            </div>


            <div class="cancel_button1">
                <!-- <button class="cancel_button cancel_txt">No</button> -->
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8"><button class="btn submit_button22 btn-block">No</button></div>
                    <div class="col-sm-2"></div>
                </div>

            </div>


            <div class=" pop_up_header ">

            </div>
            <div>

            </div>

        </div>
    </div>
</div>