<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home / Help & FAQ</p>

        <h5 style="color: white;font-weight: 400;"> Help & FAQ</h5>
    </div>
</div>



<div class="container font-header">

    <!-- {Tab} -->
    <div class="row">
        <label class="top_header">Frequently Asked Questions</label>
    </div>


    <div class="tabs_view">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#colleges">For Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#school">For Colleges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#vendor">For School </a>
            </li>

        </ul>
    </div>


    <div class="tab-content">

        <div id="colleges" class="container tab-pane active">


            <!-- ---colleges -->
            <div id="accordion tab_header">

                <div class="card tab_header">
                    <div class="card-header tab_header1">
                        <a class="card-link tab_header1_txt" data-toggle="collapse" href="#collapseOne">
                   How to Register Student ?
                    </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <label class="register_txt">
                            Registration
                        </label>

                            <label class="paragraph_txt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </label>

                            <label class="register_txt">
                           Mobile Details
                        </label>

                            <label class="paragraph_txt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </label>



                        </div>
                    </div>
                </div>

                <div class="card tab_header2">
                    <div class="card-header">
                        <a class="collapsed card-link tab_header2_txt" data-toggle="collapse" href="#collapseTwo">
                            How to Register ?
                    </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>

                <div class="card tab_header2">
                    <div class="card-header">
                        <a class="collapsed card-link tab_header2_txt" data-toggle="collapse" href="#collapseThree">
                            How to Register ?
                    </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- {College} -->

        <div id="school" class="container tab-pane ">


            <!-- ---colleges -->
            <div id="accordion tab_header">

                <div class="card tab_header">
                    <div class="card-header tab_header1">
                        <a class="card-link tab_header1_txt" data-toggle="collapse" href="#collapseOne">
                   How to Register College ?
                    </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <label class="register_txt">
                            Registration
                        </label>

                            <label class="paragraph_txt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </label>

                            <label class="register_txt">
                           Mobile Details
                        </label>

                            <label class="paragraph_txt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </label>



                        </div>
                    </div>
                </div>

                <div class="card tab_header2">
                    <div class="card-header">
                        <a class="collapsed card-link tab_header2_txt" data-toggle="collapse" href="#collapseTwo">
                            How to Register ?
                    </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>

                <div class="card tab_header2">
                    <div class="card-header">
                        <a class="collapsed card-link tab_header2_txt" data-toggle="collapse" href="#collapseThree">
                            How to Register ?
                    </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>

            </div>









        </div>


        <!-- {School} -->

        <div id="vendor" class="container tab-pane ">


            <!-- ---colleges -->
            <div id="accordion tab_header">

                <div class="card tab_header">
                    <div class="card-header tab_header1">
                        <a class="card-link tab_header1_txt" data-toggle="collapse" href="#collapseOne">
           How to Register  School?
            </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <label class="register_txt">
                    Registration
                </label>

                            <label class="paragraph_txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </label>

                            <label class="register_txt">
                   Mobile Details
                </label>

                            <label class="paragraph_txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </label>



                        </div>
                    </div>
                </div>

                <div class="card tab_header2">
                    <div class="card-header">
                        <a class="collapsed card-link tab_header2_txt" data-toggle="collapse" href="#collapseTwo">
                    How to Register ?
            </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>

                <div class="card tab_header2">
                    <div class="card-header">
                        <a class="collapsed card-link tab_header2_txt" data-toggle="collapse" href="#collapseThree">
                    How to Register ?
            </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum..
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="mt"></div>
    </div>



</div>