.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_header {
    text-align: center;
    font-size: 18px;
    color: #00b0a5;
    font-weight: 600;
    margin-top: 3%;
    width: 100%;
}

.tabs_view {
    margin-top: 15px;
}

.tab_header {
    margin-top: 5%;
}

.tab_header1 {
    background-color: #00b0a5;
}

.tab_header2 {
    margin-top: 2%;
    background-color: #ff9d40;
}

.tab_header1_txt {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.tab_header2_txt {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.register_txt {
    font-size: 18px;
    color: #00b0a5;
    font-weight: 400;
    text-align: justify;
}

.paragraph_txt {
    color: #9ba4a8;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}

.nav-tabs .nav-link.active {
    color: #5e6e75;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-color: #fff;
    border-bottom: 3px solid #ff9d3f;
}

.nav-tabs .nav-link.active {
    color: #5e6e75;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-color: #fff;
    border-bottom: 3px solid #ff9d3f;
}

.mt {
    margin-top: 3%;
}