<app-popup-models></app-popup-models>



<nav class="navbar navbar-expand-md">
    <a class="navbar-brand header-title" href="#" style="font-weight: bold;color: white;">TAG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav">

            <li class="nav-item" style="padding-left: 100px;">
                <!-- <a class="nav-link header-categories dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" [ngClass]="{ 'fontweight':true, 'fontstyle':true }" (click)="mydrop()"><i
                    class="fa fa-th fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;CATEGORIES</a> -->

                <a class="nav-link header-categories dropdown-toggle" data-toggle="dropdown" href="#" [ngClass]="{ 'fontweight':true, 'fontstyle':true }" (click)="mydrops()"><i
                        class="fa fa-th fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;CATEGORIES</a>

                <!-- <div class="multi-level mydropdown-div">
                    <ng-material-multilevel-menu *ngIf="dropdown_visibles" [configuration]='config' [items]='appitems' (selectedItem)="selectedItem($event)">
                    </ng-material-multilevel-menu>
                </div> -->
                <div class="category_dropdown" *ngIf="dropdown_visibles">
                    <ng-material-multilevel-menu [configuration]='config' [items]='appitem'>
                    </ng-material-multilevel-menu>
                </div>
            </li>
        </ul>




        <!-- before login -->

        <ul class="navbar-nav header_signup">
            <li class="nav-item">
                <a [routerLink]="['profile/account_settings']" class="nav-link" href="#" [ngClass]="{ 'fontweight':false, 'fontstyle':true }">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp; <span style="font-weight: 600;">8,0824</span> &nbsp;<span style="letter-spacing: 1px;">Students Applied</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [ngClass]="{ 'fontweight':false, 'fontstyle':true }"><i
                    class="fa fa-user" aria-hidden="true"></i>&nbsp; <span style="font-weight: 600;">5,1649</span>&nbsp; <span style="letter-spacing: 1px;">Students</span>
                Registered</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" [ngClass]="{ 'fontweight':true, 'fontstyle':true }">COUNSELLING</a>

                <div class="dropdown-menu dropdown-noti2 pt0 pb0">
                    <a class="dropdown-item dropdown-noti-item2 p0" href="#">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/exams']">Exam</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/expert-guidance']">Get Expert Guidence</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/careers-after-twelve']">Careers After 12th</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/careers-after-tenth']">Careers After 10th</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/careers-after-pg']">Careers After PG</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/careers-after-ug']">Careers After UG</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/regular-state-board']">Regular State Board</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/all-india-board']">All India Board</a>
                            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/open-board']">Open Board</a>
                            <!-- <a href="#" class="list-group-item list-group-item-action">All Level Open Board</a> -->
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/talk-to-expert']" [ngClass]="{ 'fontweight':true, 'fontstyle':true }">ASK AN
                EXPERT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal" [ngClass]="{ 'fontweight':true, 'fontstyle':true }">LOG IN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4" href="#" style="border:2px solid white;border-radius:20px;" [ngClass]="{ 'fontweight':true, 'fontstyle':true }" data-toggle="modal" data-target="#myModal">SIGNUP</a>
            </li>
        </ul>

        <!-- before login -->


        <!-- after login -->

        <!-- <ul class="navbar-nav header_signup">
            <li class="nav-item">
                <a class="nav-link" href="#" [ngClass]="{ 'fontweight':false, 'fontstyle':true }">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp; <span style="font-weight: 600;">8,0824</span> &nbsp;<span style="letter-spacing: 1px;">Students Applied</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [ngClass]="{ 'fontweight':false, 'fontstyle':true }"><i
                    class="fa fa-user" aria-hidden="true"></i>&nbsp; <span style="font-weight: 600;">5,1649</span>&nbsp; <span style="letter-spacing: 1px;">Students</span>
                Registered</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" [ngClass]="{ 'fontweight':true, 'fontstyle':true }">COUNSELLING</a>

                <div class="dropdown-menu dropdown-noti2 pt0 pb0">
                    <a class="dropdown-item dropdown-noti-item2 p0" href="#">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">First item</a>
                            <a href="#" class="list-group-item list-group-item-action">Second item</a>
                            <a href="#" class="list-group-item list-group-item-action">Third item</a>
                          </div>
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" [ngClass]="{ 'fontweight':true, 'fontstyle':true }">ASK AN
                EXPERT</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" [ngClass]="{ 'fontweight':true, 'fontstyle':true }">SHORTLIST<span class="badge notification-span">10</span></a>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown"><i class="fa fa-bell notification-i" aria-hidden="true"></i> <span class="badge notification-span">10</span></a>
                <div class="dropdown-menu dropdown-noti">
                    <a class="dropdown-item dropdown-noti-item" href="#">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item width25p li-newstyle">
                                <div class="width50 height50 border-radius20 ">
                                    <img class="width100p height100p" src="assets/images/pro.png">
                                </div>
                            </li>
                            <li class="list-group-item width75p li-newstyle">
                                <div>
                                    <h4 class="noti-drop-h4-1">Exam Name<span class="noti-drop-date">June 21</span></h4>
                                    <h4 class="noti-drop-h4-2">t is a long established fact that a reader will be distracted by the readable content </h4>
                                </div>
                            </li>
                        </ul>
                    </a>

                    <a class="dropdown-item dropdown-noti-item" href="#">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item width25p li-newstyle">
                                <div class="width50 height50 border-radius20 ">
                                    <img class="width100p height100p" src="assets/images/pro.png">
                                </div>
                            </li>
                            <li class="list-group-item width75p li-newstyle">
                                <div>
                                    <h4 class="noti-drop-h4-1">Exam Name<span class="noti-drop-date">June 21</span></h4>
                                    <h4 class="noti-drop-h4-2">t is a long established fact that a reader will be distracted by the readable content </h4>
                                </div>
                            </li>
                        </ul>
                    </a>

                    <a class="dropdown-item dropdown-noti-item" href="#">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item width25p li-newstyle">
                                <div class="width50 height50 border-radius20 ">
                                    <img class="width100p height100p" src="assets/images/pro.png">
                                </div>
                            </li>
                            <li class="list-group-item width75p li-newstyle">
                                <div>
                                    <h4 class="noti-drop-h4-1">Exam Name<span class="noti-drop-date">June 21</span></h4>
                                    <h4 class="noti-drop-h4-2">t is a long established fact that a reader will be distracted by the readable content </h4>
                                </div>
                            </li>
                        </ul>
                    </a>

                </div>
            </li>
            <li class="nav-item">
                <div class="row">
                    <div class="col-sm-8 header-profile-name width50p">Balaji</div>
                    <div class="col-sm-4 width50p">
                        <div class="header-profile-div">
                            <img class="header-profile-img" src="assets/images/pro.png">
                        </div>
                    </div>
                </div>
            </li>

        </ul> -->

        <!-- after login -->


    </div>
</nav>