<app-other-header>
</app-other-header>

<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i>Home / Study Abroad</p>

        <h5 style="color: white;font-weight: 400;">Bachloar of Information Technology from Central Queensland University (CQU) -Australia</h5>
    </div>
</div>



<div class="container-fluid">
    <div class="row py-2">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <div class="d-flex justify-content-between">
                <div class="filters_txt">Filters</div>
                <div class="reset_txt">Clear</div>
            </div>
        </div>

    </div>

    <div class="row">


        <div class="col-12 col-sm-12 col-md-4  offset-md-3 col-lg-3 offset-lg-3 ">

            <div>
                <label class="txt_hd">Most Popular BE /Btech College</label>
            </div>

        </div>


        <!-- <div class="col-6 col-sm-6 col-md-6 col-lg-6"></div> -->
    </div>

    <div class="row mt-2">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-sm-2 mb-2">

            <div id="accordion">
                <div class="card my-2">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-sm-10 expand_view_header">
                                <label style="color: #626e71; font-weight: 700;" class="card-link" data-toggle="collapse" href="#collapseOne">
                                   Course
                                      </label>
                            </div>
                            <div class="col-sm-2 expand_view_headers">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>

                    </div>


                    <div id="collapseOne" class="collapse show " data-parent="#accordion">

                        <div class="input-group shadow bg-white rounded my-2 ">
                            <input type="text" class="form-control searchborder search_bd" style="box-shadow: none;" placeholder="Search here">
                            <div class="input-group-append ">
                                <span class="input-group-text searchborder"><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <div style="margin-top: 10px;"></div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Hyderabad
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Bangalore
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Chennai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Pune
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Mumbai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Delhi
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">

                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Assam
                        </label>
                        </div>



                    </div>

                </div>



                <div class="card my-2">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-sm-10 expand_view_header">
                                <label style="color: #626e71; font-weight: 700;" class="card-link" data-toggle="collapse" href="#collapseOne">
                                    Location
                                      </label>
                            </div>
                            <div class="col-sm-2 expand_view_headers">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>

                    </div>


                    <div id="collapseOne" class="collapse show " data-parent="#accordion">

                        <div class="input-group shadow bg-white rounded my-2 ">
                            <input type="text" class="form-control searchborder search_bd" style="box-shadow: none;" placeholder="Search here">
                            <div class="input-group-append ">
                                <span class="input-group-text searchborder"><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <div style="margin-top: 10px;"></div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Hyderabad
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Bangalore
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Chennai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Pune
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Mumbai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Delhi
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">

                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Assam
                        </label>
                        </div>



                    </div>

                </div>







                <div class="card my-2">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-sm-10 expand_view_header">
                                <label style="color: #626e71; font-weight: 700;" class="card-link" data-toggle="collapse" href="#collapseOne">
                                    Infrastructure
                                      </label>
                            </div>
                            <div class="col-sm-2 expand_view_headers">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>

                    </div>


                    <div id="collapseOne" class="collapse show " data-parent="#accordion">

                        <div class="input-group shadow bg-white rounded my-2 ">
                            <input type="text" class="form-control searchborder search_bd" style="box-shadow: none;" placeholder="Search here">
                            <div class="input-group-append ">
                                <span class="input-group-text searchborder"><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <div style="margin-top: 10px;"></div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Hyderabad
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Bangalore
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Chennai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Pune
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Mumbai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Delhi
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">

                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Assam
                        </label>
                        </div>



                    </div>

                </div>


                <!-- Ownership -->

                <div class="card my-2">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-sm-10 expand_view_header">
                                <label style="color: #626e71; font-weight: 700;" class="card-link" data-toggle="collapse" href="#collapseOne">
                                   Ownership
                                      </label>
                            </div>
                            <div class="col-sm-2 expand_view_headers">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>

                    </div>


                    <div id="collapseOne" class="collapse show " data-parent="#accordion">

                        <div class="input-group shadow bg-white rounded my-2 ">
                            <input type="text" class="form-control searchborder search_bd" style="box-shadow: none;" placeholder="Search here">
                            <div class="input-group-append ">
                                <span class="input-group-text searchborder"><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <div style="margin-top: 10px;"></div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Hyderabad
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Bangalore
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Chennai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Pune
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Mumbai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Delhi
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">

                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Assam
                        </label>
                        </div>



                    </div>

                </div>




                <!-- Application -->

                <div class="card my-2">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-sm-10 expand_view_header">
                                <label style="color: #626e71; font-weight: 700;" class="card-link" data-toggle="collapse" href="#collapseOne">
                                    Application
                                      </label>
                            </div>
                            <div class="col-sm-2 expand_view_headers">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>

                    </div>


                    <div id="collapseOne" class="collapse show " data-parent="#accordion">

                        <div class="input-group shadow bg-white rounded my-2 ">
                            <input type="text" class="form-control searchborder search_bd" style="box-shadow: none;" placeholder="Search here">
                            <div class="input-group-append ">
                                <span class="input-group-text searchborder"><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <div style="margin-top: 10px;"></div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Hyderabad
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Bangalore
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Chennai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Pune
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Mumbai
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Delhi
                        </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">

                            <label class="city_color">
                            <input  type="checkbox" class="form-check-input" name="optradio">Assam
                        </label>
                        </div>



                    </div>

                </div>

            </div>


        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-9">
            <div class="row">


                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school5.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>


                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school5.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>



                <!-- card3 -->


                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>




                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school5.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>


                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school5.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>



                <!-- card3 -->


                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>



                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school5.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>


                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school5.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>



                <!-- card3 -->


                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>









                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school5.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>


                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school5.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>



                <!-- card3 -->


                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/study-abroad-detail']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">

                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <label class="location_details ">Bangalore</label>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                            </div>

                            <div class="d-flex  justify-content-between">
                                <div>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <div>
                                    <div>
                                        <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex">
                                <label class="admission_details">Admission : </label> <label class="admission_opn"> &nbsp;&nbsp;  Open </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">1 st year total fees Rs.5 Lakhs </label>
                            </div>

                            <div class="d-flex">
                                <label class="course_details">Eligiblity-IELTS :5.5 TOEFL :79 </label> <label class="course_details">Open </label>
                            </div>

                        </div>

                    </div>
                </div>











            </div>
            <!-- //main div -->
        </div>


    </div>
</div>