.nav-tabs .nav-link.active {
    color: #00aea1;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-color: #fff;
    border-bottom: 3px solid #00aea1;
}

.paragraph_heading {
    color: #00aea1;
    font-size: 15px;
    font-weight: bold;
}

a {
    color: #586a6e;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

.change_btn {
    background-color: #ff9a39;
    color: white;
    border-radius: 20px;
}

.profile_btn {
    background-color: #ff9a39;
    color: white;
    border-radius: 20px;
}

.nav_style {
    /* background: #00ada2; */
    color: white;
}

.color_ffa811 {
    color: #ffa811 !important;
}

.applied_btn {
    border-radius: 20px;
    border: 1px solid grey;
}

.paynow_btn {
    border-radius: 20px;
    border: 1px solid #ff9a39;
    background-color: #ff9a39;
    color: white;
}

.applied_row_border {
    border: 1px solid #f6f6f6;
}

.question_submit_btn {
    background-color: #ff9a39;
    color: white;
}

.activity_question_border {
    border: 1px solid #f6f6f6;
}


/* ASW */

.nav-item {
    padding: 1vw;
}

.fontstyle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.fontweight {
    font-weight: bold;
}


/* .container-fluid {
    padding: 0 !important;
} */

.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap {
    margin-top: -100px;
    /* position:absolute; */
}

.img1 {
    width: 30%;
    height: 30%;
}

.txt_hd {
    text-align: center;
    margin-top: 3%;
}

.txt_lb {
    color: #363636;
    font-size: 16px;
    font-weight: 500;
}

.txt_details {
    margin-top: 3%;
}

.txt_fnt {
    color: #474646;
    font-size: 15px;
}

.cd {
    width: 100%;
}

.cd_txt {
    text-align: center;
}

.clg_txt {
    color: #2f2f2f;
    font-size: 16px;
}

.place_txt {
    font-size: 14px;
    color: #fff;
}

.cd_txt_hd {
    color: #434343;
    font-size: 14px;
    margin-top: 5px;
}

.cd_txt_hd1 {
    color: #434343;
    font-size: 14px;
    margin-top: 2%;
}

.txt_rs {
    text-align: right;
}

.notes_txt {
    margin-top: 2%;
}

.notes_txt1 {
    font-size: 16px;
    color: #434343;
    font-weight: bold;
}

.notes_txt2 {
    font-size: 14px;
    color: #000;
}

.submit_button {
    border-radius: 20px;
    background-color: #00aea1!important;
    text-align: center;
    color: white;
}

.clg_txts {
    color: #4f6265;
    font-size: 14px;
    font-weight: 500;
}

.clg_txts_place {
    color: #c2cbca;
    font-size: 12px;
}

.clg_txts1 {
    color: #ff9633;
    font-size: 16px;
    font-weight: 600;
}

.dummy_hd {
    margin-top: 5%;
}

.total_amt {
    color: #575252;
    font-size: 14px;
    font-weight: bold;
}

.exfee {
    color: #959595;
    font-size: 14px;
}

.view_all {
    width: 50%;
    border-radius: 5px;
    border-color: #00aea1;
    background-color: #00aea1;
}

.view_all_txt {
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .py-1 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    ul {
        padding: 0 !important;
    }
}


/* ASW */