<app-other-header></app-other-header>



<div class="container-fluid">

    <div class="afternav" style="  height: 30vh;width: 100%;">
        <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
            <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Courses/Detail View</p>

            <h5 style="color: white;font-weight: 400;">B.Tech (Bachelor of Technology)</h5>
        </div>
    </div>
    <!-- header -->



    <div class="container">


        <ul class="nav nav-tabs nav_style">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#activity">Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#applied">Applied Colleges/Schools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#payment">Payments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#account_settings">Account Settings</a>
            </li>
        </ul>



        <div class="tab-content mb5vh">
            <!-- profile -->
            <div id="profile" class="container tab-pane active"><br>

                <!-- personal -->
                <div class="pb5vh">
                    <div>
                        <label class="font-weight500">Personal Information</label>
                    </div>

                    <div class="details row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Mobile number" name="mobile">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Email Id" name="email">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Location" name="location">
                        </div>
                    </div>

                    <div class="details row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Aadhar no" name="aadhar">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Pan Card number" name="pan">
                        </div>
                    </div>
                </div>
                <!-- personal -->

                <!-- education -->
                <div class="pb5vh">
                    <div>
                        <label class="font-weight500">Education Background</label>
                    </div>

                    <div class="details row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Course Level" name="course_level">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="School Name" name="school_name">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Course Completion Year" name="course_completion_year">
                        </div>
                    </div>

                    <div class="details row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Board" name="board">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Subjects" name="subjects">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Marks" name="marks">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-10">
                                    <button type="button" class="btn profile_btn btn-block">ADD MORE</button>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>

                </div>
                <!-- education -->


                <!-- work -->
                <div class="pb5vh">
                    <div>
                        <label class="font-weight500">Work Experience</label>
                    </div>

                    <div class="details row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Total Work Experience" name="total_work_experience">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Employer Name" name="employer_name">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Designation" name="designation">
                        </div>
                    </div>

                    <div class="details row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Function/Department" name="department">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Is this your Current Job?" name="current_job">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-10">
                                    <button type="button" class="btn profile_btn btn-block">ADD MORE</button>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                </div>
                <!-- work -->

                <!-- preferences -->
                <div class="pb5vh">
                    <div>
                        <label class="font-weight500">Education Preferences</label>
                    </div>

                    <div class="details row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Education Stream" name="education_stream">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Course" name="course">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Specialization" name="specialization">
                        </div>
                    </div>

                    <div class="details row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" placeholder="Mode of Study" name="mode_of_study">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-10">
                                    <button type="button" class="btn profile_btn btn-block">ADD MORE</button>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                </div>
                <!-- preferences -->

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn profile_btn btn-block">SUBMIT</button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>


            </div>
            <!-- profile -->

            <!-- activity -->
            <div id="activity" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-sm-3 width50p">
                        <label class="font-weight500">Ask your Question</label>
                    </div>
                    <div class="col-sm-6 d-none d-md-block"></div>
                    <div class="col-sm-3 text-right width50p">
                        <label>Character 0/160</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Type your question">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn question_submit_btn btn-block">Submit</button>
                    </div>
                </div>
                <!-- </div> -->

                <div class="pt20">
                    <label class="font-weight500">Participated Discussion</label>
                </div>
                <hr class="mt0">

                <div class="activity_question_border">
                    <label class="font-weight500 pl20">Question</label>
                </div>

                <div class="activity_question_border">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="width60 height60">
                                <img src="assets/images/pro.png" class="width100p height100p border_radius_100p">
                            </div>
                            <div>
                                <h5>rithin</h5>
                            </div>
                            <div>
                                <h6>rithin</h6>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-justify">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                                many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-5">
                                    <label class="font-weight500">Hide all(108)</label>
                                </div>
                                <div class="col-sm-5">
                                    <label class="font-weight500">Comment</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="activity_question_border">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="width60 height60">
                                <img src="assets/images/pro.png" class="width100p height100p border_radius_100p">
                            </div>
                            <div>
                                <h5>rithin</h5>
                            </div>
                            <div>
                                <h6>rithin</h6>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-justify">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                            </p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-5">

                                </div>
                                <div class="col-sm-5">
                                    <label class="font-weight500">Reply</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- activity -->


            <!-- applied -->
            <div id="applied" class="container tab-pane fade"><br>
                <div>
                    <label class="font-weight500">Applied Colleges</label>
                </div>

                <!-- row -->
                <div class="row applied_row_border mb10">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4 pl0 pr0">
                                <div class="height200">
                                    <img src="assets/images/college.jpg" class="width100p height100p">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pt5p">
                                    <h5>College Name</h5>
                                    <h6>Location</h6>
                                </div>
                                <div>
                                    <h5>Course Name</h5>
                                    <h6><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                    </h6>
                                </div>
                                <div>
                                    <h5>Course Name</h5>
                                    <h6>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div>
                            <div class="pt14p">
                                <button type="text" class="btn btn-default applied_btn btn-block">APPLIED</button>
                            </div>
                            <div class="pt5vh">
                                <button type="text" class="btn btn-default paynow_btn btn-block">PAY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->

                <!-- row -->
                <div class="row applied_row_border mb10">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4 pl0 pr0">
                                <div class="height200">
                                    <img src="assets/images/college.jpg" class="width100p height100p">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pt5p">
                                    <h5>College Name</h5>
                                    <h6>Location</h6>
                                </div>
                                <div>
                                    <h5>Course Name</h5>
                                    <h6><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                    </h6>
                                </div>
                                <div>
                                    <h5>Course Name</h5>
                                    <h6>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div>
                            <div class="pt14p">
                                <button type="text" class="btn btn-default applied_btn btn-block">APPLIED</button>
                            </div>
                            <div class="pt5vh">
                                <button type="text" class="btn btn-default paynow_btn btn-block">PAY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->


                <!-- row -->

                <div class="row applied_row_border mb10">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4 pl0 pr0">
                                <div class="height200">
                                    <img src="assets/images/college.jpg" class="width100p height100p">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pt5p">
                                    <h5>College Name</h5>
                                    <h6>Location</h6>
                                </div>
                                <div>
                                    <h5>Course Name</h5>
                                    <h6><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                    </h6>
                                </div>
                                <div>
                                    <h5>Course Name</h5>
                                    <h6>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div>
                            <div class="pt14p">
                                <button type="text" class="btn btn-default applied_btn btn-block">APPLIED</button>
                            </div>
                            <div class="pt5vh">
                                <button type="text" class="btn btn-default paynow_btn btn-block">PAY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->


                <!-- row -->
                <div class="row applied_row_border mb10">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4 pl0 pr0">
                                <div class="height200">
                                    <img src="assets/images/college.jpg" class="width100p height100p">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="pt5p">
                                    <h5>College Name</h5>
                                    <h6>Location</h6>
                                </div>
                                <div>
                                    <h5>Course Name</h5>
                                    <h6><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                    </h6>
                                </div>
                                <div>
                                    <h5>Course Name</h5>
                                    <h6>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i><i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                        <i class="fa fa-star color_ffa811" aria-hidden="true"></i>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div>
                            <div class="pt14p">
                                <button type="text" class="btn btn-default applied_btn btn-block">APPLIED</button>
                            </div>
                            <div class="pt5vh">
                                <button type="text" class="btn btn-default paynow_btn btn-block">PAY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->

            </div>
            <!-- applied -->

            <!-- payment -->
            <div id="payment" class="container tab-pane fade"><br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#payments">Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#payment_history">Payment History</a>
                    </li>
                </ul>


                <div class="tab-content">
                    <div id="payments" class="container tab-pane active"><br>


                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Admission year:</label>
                                    <select class="form-control">
                                        <option selected value="none">2020</option>
                                        <option>2021</option>
                                    </select>
                                </div>

                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Academic year:</label>
                                    <select class="form-control">
                                        <option selected value="none">2020</option>
                                        <option>2020</option>
                                    </select>
                                </div>

                            </div>

                        </div>



                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Education :</label>
                                    <select class="form-control">
                                        <option selected value="none">College Name</option>
                                        <option>School Name</option>
                                    </select>
                                </div>

                            </div>



                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">College Name /  Schools  Name:</label>
                                    <input type="text" class="form-control" placeholder="College Name/ Schools Name (Auto  Search)" id="usr">
                                </div>

                            </div>

                        </div>


                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Course / Class :</label>
                                    <input type="text" class="form-control" placeholder="Course / Class (Auto Search)" id="usr">
                                </div>

                            </div>



                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Nationality:</label>

                                    <select disabled="true" class="form-control">
                                        <option selected value="none">India</option>
                                        <option>USA</option>
                                    </select>
                                </div>

                            </div>

                        </div>




                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Specialization :</label>
                                    <input type="text" class="form-control" placeholder="Specialization (Auto Search)" id="usr">
                                </div>

                            </div>



                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Mode of Study :</label>

                                    <select class="form-control">
                                        <option selected value="none">Mode of Study</option>
                                        <option>Mode of Study</option>
                                    </select>

                                </div>

                            </div>

                        </div>





                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Instalment:</label>
                                    <select class="custom-select" multiple>
                                     
                                        <option value="1">Instalment One</option>
                                        <option value="2">Instalment Two</option>
                                        <option value="3">Instalment Three</option>
                                      </select>
                                </div>

                            </div>

                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label for="usr">Roll Number :</label>
                                    <input type="text" class="form-control" placeholder="Roll Number (Auto Search) " id="usr">
                                </div>

                            </div>




                        </div>





                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">UAN / USN Number (Incase  of College / University):</label>
                                    <input type="text" class="form-control" placeholder="UAN / USN Number (Auto Search) " id="usr">
                                </div>

                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr">Student Identity Number (Incase  of school)</label>
                                    <input type="text" class="form-control" placeholder="Student Identity Number (Auto Search) " id="usr">
                                </div>

                            </div>

                        </div>


                        <div class="txt_hd">

                            <label class="txt_lb">Select Payment for the Exam Fees , Tuition Fees ,Hostel Fees , Mess Fees </label>

                        </div>

                        <div class="row txt_details">
                            <div class="col-sm-3">

                                <label class="form-check-label txt_fnt">
                                    <input type="checkbox" class="form-check-input " value="">Exam Fees       XXXX
                                  </label>
                            </div>
                            <div class="col-sm-3">

                                <label class="form-check-label txt_fnt">
                                    <input type="checkbox" class="form-check-input " value="">Tuition Fees       XXXX
                                  </label>
                            </div>
                            <div class="col-sm-3">

                                <label class="form-check-label txt_fnt">
                                    <input type="checkbox" class="form-check-input " value="">Hostel Fees        XXXX
                                  </label>
                            </div>
                            <div class="col-sm-3">


                                <label class="form-check-label txt_fnt">
                                    <input type="checkbox" class="form-check-input " value="">Mess Fees       XXXXX
                                  </label>
                            </div>
                        </div>



                        <div class="row txt_details">
                            <div class="card  cd">
                                <div class="card-header  ">

                                    <div class="cd_txt">
                                        <label class="clg_txt">College Name</label>
                                    </div>
                                    <div class="cd_txt">
                                        <label class="place_txt">Location</label>
                                    </div>
                                    <div class="row cd_txt  ">
                                        <div class="col-sm-4 cd_txt_hd">Roll Number </div>
                                        <div class="col-sm-4 cd_txt_hd">Name </div>
                                        <div class="col-sm-4 cd_txt_hd">Location</div>
                                    </div>



                                    <div class="row cd_txt ">
                                        <div class="col-sm-4 cd_txt_hd1">Course Name </div>
                                        <div class="col-sm-4 cd_txt_hd1">Semester </div>

                                    </div>

                                </div>
                                <div class="card-body">

                                    <div class="row ">

                                        <div class="col-sm-6 exfee">
                                            <div class="form-group cd_txt">
                                                <label for="usr">Exam Fees</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 exfee">
                                            <div class="form-group cd_txt">
                                                <label for="usr">15,000</label>
                                            </div>
                                        </div>

                                    </div>




                                    <div class="row ">

                                        <div class="col-sm-6 exfee">
                                            <div class="form-group cd_txt">
                                                <label for="usr">Hostel Fees</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 exfee">
                                            <div class="form-group cd_txt">
                                                <label for="usr">15,000</label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row ">

                                        <div class="col-sm-6 exfee ">
                                            <div class="form-group cd_txt">
                                                <label for="usr">Tuition Fees</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 exfee ">
                                            <div class="form-group cd_txt">
                                                <label for="usr">15,000</label>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <!-- cardetails -->

                                <div class="card-footer">

                                    <div class="row ">

                                        <div class="col-sm-6 total_amt ">
                                            <div class="form-group cd_txt">
                                                <label for="usr">Total Fees</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 ">
                                            <div class="form-group cd_txt">
                                                <label for="usr">45,000</label>
                                            </div>
                                        </div>

                                    </div>


                                </div>




                            </div>

                        </div>

                        <!-- Notes -->

                        <div class="notes_txt">
                            <div>
                                <label class="notes_txt1">Notes : </label>
                            </div>
                            <div>
                                <label class="notes_txt2">For every  transaction , a transaction id will be generated. </label>
                            </div>
                        </div>






                        <div class="row notes_txt">
                            <div class="col-sm-4 "></div>
                            <div class="col-sm-4">
                                <button type="button" class="btn submit_button txt_hd  btn-block">Pay Now</button>
                            </div>
                            <div class="col-sm- 4 "></div>

                        </div>



                    </div>





                    <div id="payment_history" class="container tab-pane fade"><br>



                        <!-- mainheader start -->

                        <div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h4 class="clg_txts">College</h4>
                                    <h5 class="clg_txts_place">Location</h5>
                                </div>

                                <div class="col-sm-3">
                                    <label class="clg_txts">Exam Fees</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Date</label>
                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Roll No</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Transaction  ID</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts1">Amount</label>
                                </div>

                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">View all</button>
                                </div>
                            </div>

                            <div class="row notes_txt">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Course Name</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Semester</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Payment Status (Paid)</label>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">Print</button>
                                </div>
                            </div>

                        </div>
                        <!-- mainheader end -->





                        <!-- dummy_header -->

                        <div class="dummy_hd">

                            <div class="row">
                                <div class="col-sm-3">
                                    <h4 class="clg_txts">College</h4>
                                    <h5 class="clg_txts_place">Location</h5>
                                </div>

                                <div class="col-sm-3">
                                    <label class="clg_txts">Exam Fees</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Date</label>
                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Roll No</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Transaction  ID</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts1">Amount</label>
                                </div>

                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">View all</button>
                                </div>
                            </div>

                            <div class="row notes_txt">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Course Name</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Semester</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Payment Status (Paid)</label>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">Print</button>
                                </div>
                            </div>

                        </div>

                        <!-- dummy_header_end -->








                        <!-- dummy_header -->

                        <div class="dummy_hd">

                            <div class="row">
                                <div class="col-sm-3">
                                    <h4 class="clg_txts">College</h4>
                                    <h5 class="clg_txts_place">Location</h5>
                                </div>

                                <div class="col-sm-3">
                                    <label class="clg_txts">Exam Fees</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Date</label>
                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Roll No</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Transaction  ID</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts1">Amount</label>
                                </div>

                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">View all</button>
                                </div>
                            </div>

                            <div class="row notes_txt">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Course Name</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Semester</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Payment Status (Paid)</label>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">Print</button>
                                </div>
                            </div>

                        </div>

                        <!-- dummy_header_end -->



                        <!-- dummy_header -->

                        <div class="dummy_hd">

                            <div class="row">
                                <div class="col-sm-3">
                                    <h4 class="clg_txts">College</h4>
                                    <h5 class="clg_txts_place">Location</h5>
                                </div>

                                <div class="col-sm-3">
                                    <label class="clg_txts">Exam Fees</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Date</label>
                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Roll No</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Transaction  ID</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts1">Amount</label>
                                </div>

                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">View all</button>
                                </div>
                            </div>

                            <div class="row notes_txt">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Course Name</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Semester</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Payment Status (Paid)</label>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">Print</button>
                                </div>
                            </div>

                        </div>

                        <!-- dummy_header_end -->







                        <!-- dummy_header -->

                        <div class="dummy_hd">

                            <div class="row">
                                <div class="col-sm-3">
                                    <h4 class="clg_txts">College</h4>
                                    <h5 class="clg_txts_place">Location</h5>
                                </div>

                                <div class="col-sm-3">
                                    <label class="clg_txts">Exam Fees</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Date</label>
                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Roll No</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Transaction  ID</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts1">Amount</label>
                                </div>

                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">View all</button>
                                </div>
                            </div>

                            <div class="row notes_txt">
                                <div class="col-sm-3">
                                    <label class="clg_txts">Course Name</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Semester</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clg_txts">Payment Status (Paid)</label>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn  txt_hd view_all view_all_txt ">Print</button>
                                </div>
                            </div>

                        </div>

                        <!-- dummy_header_end -->


                        <div class="row dummy_hd">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- payment -->


            <!-- password -->
            <div id="account_settings" class="container tab-pane fade"><br>
                <div class="row mb5vh">
                    <div class="col-sm-12 text-center">
                        <h6>Change Password</h6>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter New Password">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Confirm Password">
                        </div>
                        <button type="button" class="btn btn-block change_btn">CHANGE</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <!-- password -->
        </div>


    </div>
</div>