<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home /News and Articles</p>

        <h5 style="color: white;font-weight: 400;">News and Articles</h5>
    </div>
</div>


<div class="container">



    <div class="top_header">
        <label class="top_header_txt">News and Articles</label>
    </div>








    <!-- {Tabs} -->











    <div class="card mt3p">

        <div id="collapseOne">


            <div class="card-body row ">
                <div class="col-sm-4  ">
                    <ul class="list-group">
                        <img class="rounded" class="student_pro_details " src="assets/images/User.png ">

                    </ul>
                </div>


                <div class="col-sm-8 ">

                    <label class="paragaraph_header_txt"> Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem .</label>
                    <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                    <label class="read_more"> Readmore</label>

                </div>

            </div>

        </div>









    </div>



    <!-- secondrow -->

    <div class="card mt3p">

        <div id="collapseOne">


            <div class="card-body row ">
                <div class="col-sm-4  ">
                    <ul class="list-group">
                        <img class="rounded" class="student_pro_details " src="assets/images/User.png ">

                    </ul>
                </div>


                <div class="col-sm-8 ">

                    <label class="paragaraph_header_txt"> Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem .</label>
                    <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                    <label class="read_more"> Readmore</label>

                </div>

            </div>

        </div>








    </div>

    <!-- third -->

    <div class="card mt3p">

        <div id="collapseOne">


            <div class="card-body row ">
                <div class="col-sm-4  ">
                    <ul class="list-group">
                        <img class="rounded" class="student_pro_details " src="assets/images/User.png ">

                    </ul>
                </div>


                <div class="col-sm-8 ">

                    <label class="paragaraph_header_txt"> Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem .</label>
                    <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                    <label class="read_more"> Readmore</label>

                </div>

            </div>

        </div>








    </div>
    <!-- fourth -->

    <!-- secondrow -->

    <div class="card mt3p">

        <div id="collapseOne">


            <div class="card-body row ">
                <div class="col-sm-4  ">
                    <ul class="list-group">
                        <img class="rounded" class="student_pro_details " src="assets/images/User.png ">

                    </ul>
                </div>


                <div class="col-sm-8 ">

                    <label class="paragaraph_header_txt"> Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem .</label>
                    <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                    <label class="read_more"> Readmore</label>

                </div>

            </div>

        </div>

    </div>

    <!-- fifth -->

    <!-- secondrow -->

    <div class="card mt3p">

        <div id="collapseOne">


            <div class="card-body row ">
                <div class="col-sm-4  ">
                    <ul class="list-group">
                        <img class="rounded" class="student_pro_details " src="assets/images/User.png ">

                    </ul>
                </div>


                <div class="col-sm-8 ">

                    <label class="paragaraph_header_txt"> Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem .</label>
                    <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                    <label class="read_more"> Readmore</label>

                </div>

            </div>

        </div>








    </div>


    <div class="btm_header"></div>



</div>