.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_header {
    margin-top: 2%;
    width: 100%;
    text-align: center;
}

.top_header_txt {
    text-align: center;
    font-size: 16px;
    color: #5e6e75;
    font-weight: 500;
}

.submit_button {
    bottom: 20;
    border: 2px solid #ff9d3f!important;
    border-radius: 5px;
    background-color: #ff9d3f;
    width: 100%;
    height: 40px;
}

.paragraph_heading {
    color: #00aea1;
    font-size: 12px;
    font-weight: 400;
}

.nav-tabs .nav-link.active {
    color: #5e6e75;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-color: #fff;
    border-bottom: 3px solid #ff9d3f;
}

.common_float {
    float: right;
    height: 100px;
}

.common_float_answer {
    float: right;
}

.txt_all {
    font-size: 15px;
    font-weight: 500;
    color: #495e62;
}

.small_txt {
    font-size: 10px;
    font-weight: 500;
    color: #dcdcdc;
}

.mt15 {
    margin-top: 15px;
}

.mt3p {
    margin-top: 3%;
}

.paragaraph_txt {
    color: #839295;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}

.bottom_height {
    margin-top: 10%;
}

.student_pro_details {
    height: 100px;
    width: 100px;
    text-align: center;
}

.answer_search {
    margin-top: 5%;
    text-align: center;
    margin: 20px;
}

.draw_line {
    margin-top: 60px;
}

.read_more {
    color: #38b0ff;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}

.paragaraph_header_txt {
    color: #7d8c90;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
}

.btm_header {
    height: 150px;
}