<app-other-header>
</app-other-header>


<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home /Application</p>

        <h5 style="color: white;font-weight: 400;">College Name</h5>
    </div>
</div>



<div class="container">
    <div class="pt2p">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6 pb10"><button type="button" class="btn btn-block round_corner">Download</button></div>
                            <div class="col-sm-6"><button type="button" class="btn btn-block round_corner1">Upload Form</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Basic Information  -->
        <div>
            <div>
                <label class="personal_info">Basic Information</label>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="First Name" name="first_name">
                </div>
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Middle Name" name="middle_name">
                </div>
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="DOB" name="dob">
                </div>

                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Gender" name="gender">
                </div>

                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="For the Stream" name="for_the_stream">
                </div>
            </div>
        </div>
        <!-- Basic Information  -->


        <!--Personal Information  -->
        <div>
            <div>
                <label class="personal_info">Personal Information</label>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Father Name" name="fater_name">
                </div>
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Mother Name" name="username">
                </div>
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Temp Address" name="username">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Father Occupation" name="username">
                </div>

                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Mother Occupation" name="username">
                </div>

                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Permanent Address" name="username">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Phone Number" name="phone">
                </div>

                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Email Address" name="email">
                </div>

                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="For NRI" name="nri">
                </div>
            </div>
        </div>
        <!-- Personal Information -->

        <!-- categories -->
        <div>
            <div>
                <label class="personal_info">Categories</label>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">General
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">OBC
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">SC/ST
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">PH
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- course -->
        <div>
            <div>
                <label class="personal_info">Course</label>
            </div>
            <div class="form-group row">
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>Select</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- course -->


        <!-- stream -->
        <div>
            <div>
                <label class="personal_info">Specialization</label>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>Select</option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>Select</option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>Select</option>
                    </select>
                </div>
            </div>



        </div>
        <!-- stream -->



        <!-- educational -->
        <div>
            <label class="personal_info">Education Information</label>

            <div class="row">
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>10th</option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Year of Passing" name="username">
                </div>

                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Marks Obtained" name="username">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <input type="text" class="form-control" placeholder="Remarks if Any" name="username">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <button type="button" class="btn btn-default add_more">ADD MORE</button>
                </div>
            </div>

        </div>
        <!-- educational -->


        <!-- competative exam -->

        <div>
            <label class="personal_info">Competative Exam Details</label>

            <div class="row">
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Exam Name" name="first_name">
                </div>
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Exam Mark" name="middle_name">
                </div>
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="Exam Rank" name="last_name">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <button type="button" class="btn btn-default add_more">ADD MORE</button>
                </div>
            </div>


        </div>

        <!-- competative exam -->


        <!-- upload -->
        <div class="pb5vh">
            <div class="row">
                <div class="col-sm-4">
                    <label class="personal_info">Upload Aadhar</label><br>
                    <div class="custom-files mb-3">
                        <input type="file" class="custom-file-inputs" id="aadhar" name="filename">
                        <label class="custom-file-labels" for="aadhar"><img style="width: 100%;height: 100%;" src="assets/images/plus.png"></label>
                    </div>

                    <div class="text-right">
                        <button type="button" class="btn btn-default">Delete</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="personal_info">Upload 10th</label><br>
                    <div class="custom-files mb-3">
                        <input type="file" class="custom-file-inputs" id="tenth" name="filename">
                        <label class="custom-file-labels" for="tenth"><img style="width: 100%;height: 100%;" src="assets/images/plus.png"></label>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default">Delete</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="personal_info">Upload 12th</label><br>
                    <div class="custom-files mb-3">
                        <input type="file" class="custom-file-inputs" id="twelve" name="filename">
                        <label class="custom-file-labels" for="twelve"><img style="width: 100%;height: 100%;" src="assets/images/plus.png"></label>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default">Delete</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <button type="button" class="btn btn-default add_more">ADD MORE</button>
                </div>
            </div>

        </div>
        <!-- upload -->

        <div>
            <label class="personal_info">Admin Note</label>
            <div class="form-group">
                <!-- <label for="admin">Admin note:</label> -->
                <textarea class="form-control" rows="5" id="admin"></textarea>
            </div>
        </div>

        <div class="row pb5vh">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><button data-toggle="modal" data-target="#confirm" type="button" class="btn submit-btn btn-block">SUBMIT</button></div>
            <div class="col-sm-4"></div>

        </div>


    </div>

    <!-- modal -->

    <div class="modal fade" id="confirm">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class=" pop_up_header ">
                    <h4 class=" pop_up_header">YOUR OR NOT ELIGIBLE !</h4>

                </div>


                <div class="pop_up_txt">
                    <label class="pop_up_txt"> You are not eligible to this colleges you are still want to continue?</label>

                </div>


                <div class="submit_button1 pb10">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8"><button class="btn submit_button btn-block">Yes</button></div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>


                <div class="cancel_button1">
                    <!-- <button class="cancel_button cancel_txt">No</button> -->
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8"><button class="btn submit_button22 btn-block">No</button></div>
                        <div class="col-sm-2"></div>
                    </div>

                </div>


                <div class=" pop_up_header ">

                </div>
                <div>

                </div>

            </div>
        </div>
    </div>



    <!-- modal -->
</div>