.message {
    font-size: 14px;
    font-weight: 500;
    color: #555555;
}

.top_header_message {
    font-size: 25px;
    font-weight: 700;
    color: #383838;
}

.details {
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.header {
    width: 100%;
    text-align: center;
}

.upload_images {
    margin-top: 10px;
}

.upload_images1 {
    color: #454545;
    font-size: 14px;
    font-weight: 500;
}

.uploadImg {
    text-align: center;
    margin-left: 15px;
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 10px;
    border-color: #808080;
    border: 2px solid #808080!important;
}

.uploadImg1 {
    text-align: center;
    margin-left: 15px;
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 10px;
    border-color: #808080;
    border: 2px solid #808080!important;
}

.submit_button {
    bottom: 20;
    border: 2px solid #ff9d43!important;
    border-radius: 25px;
    background-color: #ff9d43;
    width: 200px;
    height: 40px;
}

.font-color-white {
    color: #fff;
}

.bottom_height {
    height: 100px;
}

.images {
    margin-top: 30%;
    width: 50px;
    height: 50px;
}

.edit_delete {
    widows: 20px;
    height: 20px;
    text-align: center;
    margin-left: 10%;
}

.delet {
    color: red;
}
.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.place>.form-control::placeholder {
    color: white;
    opacity: 1;
    font-size: 15px;
    font-weight: 600;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}