<app-other-header></app-other-header>


<div class="container-fluid p0">


    <div class="afternav" style="  height: 30vh;width: 100%;">
        <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
            <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home/Shortlist</p>

            <h3 style="color: white;font-weight: 400;">My Shortlist</h3>
        </div>
    </div>





</div>

<div class="container pt2vh pb2vh">
    <div>
        <h5>My Shortlist</h5>
    </div>

    <div class="container">
        <div class="shortlist_table">
            <table class="table table-bordered table-border-new">
                <thead>
                    <tr>
                        <th class="shortlist_subhead">College</th>
                        <th class="shortlist_subhead">Fees</th>
                        <th class="shortlist_subhead">Exams Accepted</th>
                        <th class="shortlist_subhead"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5>College Name</h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>
                        <td class="shortlist_td" style="font-weight: 500;">INR 3.44 Lakh</td>
                        <td class="shortlist_td" style="font-weight: 500;">Exam Name</td>
                        <td class="shortlist_td"><button type="button" class="btn delete-btn btn-block">DELETE</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>College Name</h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>
                        <td class="shortlist_td" style="font-weight: 500;">INR 3.44 Lakh</td>
                        <td class="shortlist_td" style="font-weight: 500;">Exam Name</td>
                        <td class="shortlist_td"><button type="button" class="btn delete-btn btn-block">DELETE</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>College Name</h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>
                        <td class="shortlist_td" style="font-weight: 500;">INR 3.44 Lakh</td>
                        <td class="shortlist_td" style="font-weight: 500;">Exam Name</td>
                        <td class="shortlist_td"><button type="button" class="btn delete-btn btn-block">DELETE</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>College Name</h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>
                        <td class="shortlist_td" style="font-weight: 500;">INR 3.44 Lakh</td>
                        <td class="shortlist_td" style="font-weight: 500;">Exam Name</td>
                        <td class="shortlist_td"><button type="button" class="btn delete-btn btn-block">DELETE</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>College Name</h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>
                        <td class="shortlist_td" style="font-weight: 500;">INR 3.44 Lakh</td>
                        <td class="shortlist_td" style="font-weight: 500;">Exam Name</td>
                        <td class="shortlist_td"><button type="button" class="btn delete-btn btn-block">DELETE</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>College Name</h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>
                        <td class="shortlist_td" style="font-weight: 500;">INR 3.44 Lakh</td>
                        <td class="shortlist_td" style="font-weight: 500;">Exam Name</td>
                        <td class="shortlist_td"><button type="button" class="btn delete-btn btn-block">DELETE</button></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="row ">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>



</div>