.nav-item{
    padding: 1vw;
     }
    .fontstyle{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    }
    .fontweight{
        font-weight:bold ;
    }

    
  .container-fluid{
    padding: 0 !important;
}

.afternav{
    background-image:url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}


.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap{
    margin-top:-100px;
    /* position:absolute; */
}

.img1{
    width: 30%;
    height: 30%;
}

@media screen and (max-width: 600px) {
    .py-1 {
font-size: 12px;
    }
    p {
        font-size: 12px;
            }
    ul{
        padding: 0 !important;
    }
  }