.container{
    position: relative; 
}

.exam-details-heading{
  font-size: 20px;
  font-weight: bold;
  color:#fd9843;
  padding-top: 10px;
  padding-left: 20px;
}

.results-heading{
  font-size: 20px;
  font-weight: bold;
  color:teal;
  padding-top: 10px;
  padding-left: 20px;
}
.counsel-heading{
  font-size: 20px;
  font-weight: bold;
  color:#fd9843;
  padding-top: 10px;
  padding-left: 20px;
}
.bg-dark {
  background-color: teal!important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.pdf-heading{
  font-size: 20px;
  font-weight: bold;
  color:#617276;
  align-self: flex-end;
 
}
.all-dates-heading{
  font-size: 20px;
  font-weight: bold;
  color:teal;
  padding-top: 10px;
  padding-left: 16%;
}
.cutoff-heading{
  font-size: 20px;
  font-weight: bold;
  color:teal;
  padding-top: 10px;
  padding-left: 18%;
}

.cutoff-table-H{
  font-size: 18px;
  font-weight: bold;
  color:#fd9843;
  padding-top: 10px;
  
}

.gray-bg{
  background-color: #d9d9d9;
  width: 100%;
  align-items: center;
  display: flex;
}
.gray-bg img{
  display : block;
  margin : auto;
}
.cutoff-table-HR{
  font-size: 18px;
  font-weight: bold;
  color:#fd9843;
  padding-top: 10px;
  padding-left: 8%;
}

.h-size{
  width:50%;
}
.cutoff-table-BL{
  color:#627377;
 font-size: 15px;
 padding-top :2%;
}
.cutoff-table-BR{
 color:#627377;
 font-weight: bold;
 font-size: 15px;
 padding-top :2%;
 padding-left: 8%;
  
}

.border-right{
  border-right: 1px solid #fd9843 !important;
}
.col-size{
  width:50%;
  border-bottom: 2px solid #f2f2f2;
}

.col-sz4{
  border-bottom: 2px solid #f2f2f2;
}

.apply-btn{
  background-color:#fd9843;
  color: white;
  width: 140px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  margin-top: 20%;
}

.question-ppr-body{
 border: 2px solid #f3f3f3;
 margin-top: 1%;
}

.question-ppr-img{
  width:180px;
}

.question-ppr-paragraph{
  color: #627377;
  font-size: 15px;
  font-weight: bold;
  padding-top: 4%;
}
.exam-dates{
  border: 1px solid #fd9843;
}

.exam-dates-H{
 color:#627377;
 font-weight: bold;
 font-size: 15px;
}

.exam-dates-D{
  color:#627377;
  font-size: 15px;

}
.hr{
  margin-top:0 !important;
  margin-bottom: 0 !important;
}
.ml{
    float: right;
}
.btn_border_radius{
    border-radius: 30px;
}
.img{
    height: 200px !important;
}
.checked {
    color: orange;
  }
.unchecked{
    color:#bac3c2;
  }
.couese_price_btn{
   
    cursor: pointer;
    border: 2px solid #fd9843;
    padding: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #fd9843;
    width: 100%;
}
.review_rating_btn{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background:teal;
        text-align: center;
        align-self: center;
}

.points-txt{
   color: teal;
   vertical-align:middle;
   text-align:center;
}
.mapbody{
    padding: 0 !important;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:white;
    font-weight:bold;
  }
 
  .check_box_list{
      font-size: 18px;
      color:#5e6a6e;
  }
  .card_view_container{
      padding:20px;
  }
  .card_style{
    border-color: teal; 
    border-radius: 0 !important;
 }
 .card-body-style{
    margin: 5px;
    background-color: #fafafa;
}
.card-title {
    font-weight: bold !important;
}
.card-text{
    color:#5e6a6e !important;
}
.label-style{
    color:#5e6a6e !important;
    font-size: 13px;
    padding-left: 2px;
}
.fa {
    font-size: 14px;
}
.review_heading{
    color:#5e6a6e;
    font-size: 20px;
}
.rating_heading{
    color:#5e6a6e;
    font-size: 20px;
    padding-left: 3%;
}
.rating_heading2{
    color:#5e6a6e;
    font-size: 20px;
    padding-left: 18%;
}
.review_name{
    font-size: 18px;
}
.review_date{
    color:#5e6a6e;
    font-size: 16px;
}
.checked_R {
    color: orange;
    font-size:20px;
  }
.unchecked_R{
    color:#bac3c2;
    font-size:20px;
  }
  .progress-bar{
      background-color: #fd9843 !important;
  }
  .progress{
    height: 10px !important;
  }
  .rating-text{
      padding-left: 9%;
      font-size: 15px;
      font-weight: bold;
      color:#5b6c70;
  }
  .rating_perc{
    font-size: 15px;
    font-weight: bold;
    color:#5b6c70;
  }
  .rating_label{
    font-size:  15px;
    color:#5b6c70;
    font-weight: normal;
    padding-left: 2%;
  }
  .review-btn{
    width: 100%;
    height:60px;
  }
  .review-btn-text{
  color:teal;
  }
  .modal-header {
      border:none;
  }
  .modal-header {
    border:none;
  }
  .model-input-heading{
    text-align: right;
  }
  .model_input-r{
      height:50px;
  }

  .submit-review{
      border-radius: 15px;
      width:35%;
      height:35px;
      background-color: #fd9843 !important;
      border:none;
      color:white;
     
  }
  .modal-footer{
      justify-content: center;
  }
  .unchecked_m{
    color:#bac3c2;
    padding-left: 4px;
    font-size: 16px;
  }
  .modal-title {
      font-size: 15px;
  }
  .fontsize{
      font-size: 20px;
  }
  .criteria-details{
    font-weight: 500;
    color:#5e6a6e;
  }
  .exam-details{
    font-weight: 500;
    color:#5e6a6e;
  }
  .img-thumbnail{
      border:none !important
  }
  .event-title{
    color:#687377;
    text-align: center;
  }
 .event-text{
    text-align: center;
  }
  .article-title{
    color:#687377;
    text-align: center;
  }
  .article-text{
    text-align: center;
  }
  .article-bg{
      background-color: #f4fafa
  }
  .contact-title{
      color:#6c777b;
  }
  .collage-name{
      color:teal !important;
      font-weight: bold;
  }
  .mobile-no{
      color:#0091ff  !important;
      font-weight: bold;
  }

  .contact-details{
      color:#5e6a6e !important;
      font-size: 15px !important;
      font-weight: 700;
  }
  .qa-label{
    padding-left: 10px;
    font-size: 25px;
    color: #fd9843;
  }
  .qa-toggle{
      font-size: 18px;
  }
  
  .overlay-image{
    background-image: url(https://icdn7.digitaltrends.com/image/digitaltrends/google_maps_share_location_1-500x300-c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
  }
  .overlay-color{
    background-color: #1e1e1f80;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }




  .afternav{
    background-image:url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}


.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap{
    margin-top:-100px;
    /* position:absolute; */
}

.img1{
    width: 30%;
    height: 30%;
}

.exam-name{
  color:#586a6e
}
.h-title{
  color:#708184;
  text-align: center;
}
.body-center{
  text-align: center;
}