.top_header_normalmessage {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-top: 6px;
    text-align: justify !important;
}

.header {
    width: 100%;
    text-align: justify !important;
}

.txt_hd {
    color: #617179;
    font-size: 14px;
    font-weight: bold;
}

.txt_hd_lb1 {
    color: #607077;
    font-size: 14px;
    font-weight: bold;
}

.txt_hd_lb {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
}

.medium_type {
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    margin-top: 2%;
    width: 100%;
}

.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap {
    margin-top: -100px;
    /* position:absolute; */
}