<app-other-header></app-other-header>



<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Courses/Rank Predictor</p>

        <h5 style="color: white;font-weight: 400;">Rank Predictor</h5>
    </div>
</div>

<div class="container font-header py-5">

    <div class="header">
        <label class="top_header_normalmessage txt_hd_lb1">
            Enter Your JEE Advanced score below and get your predicted JEE Advanced rank.This rank predictor tool will
            return your
            All India Rank for Your JEE Advanced Results
        </label>
    </div>

    <div class="row pt-5">
        <div class="col-12 col-sm-12 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
            <div class="form-group">
                <label class="txt_hd" for="rank">Enter Rank/Merit No.</label>
                <input type="text" class="form-control txt_hd_lb" value="90" id="rank">
            </div>
            <div class="form-group">
                <label class="txt_hd" for="rank">Select Category</label>
                <select class="select_options form-control font_white" style="width:100%">
          
                    <option  class="font_white txt_hd_lb">Gendral</option>
                   
                        </select>
            </div>
            <div class="form-group">
                <label class="txt_hd" for="rank">Select State Quota Eligibility</label>
                <select class="select_options form-control font_white" style="width:100%">
          
                    <option  class="font_white txt_hd_lb">State Name</option>
                   
                        </select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
            <button class="btn btn-block btn-lg mx-auto mt-5 px-5" style="background-color: chocolate;color: white;border-radius: 30px;" [routerLink]="['/rank-predictor-third']">PREDICT THE RANK</button>
        </div>
    </div>

</div>