<app-other-header>
</app-other-header>


<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home /School</p>

        <h5 style="color: white;font-weight: 400;">School Name</h5>
    </div>
</div>



<div class="container-fluid row">
    <div class="col-md-8 col-sm-8 col-lg-8 py-5">
        <h3 style="font-weight: 500;">Overview</h3>
        <div style="width:100%">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived not only five centuries,
                <span *ngIf="!isShown" class="text-primary " data-toggle="collapse" (click)="toggleShow()" data-target="#demo"><br>Read More <i class="fa fa-arrown-down"></i></span>
                <span *ngIf="isShown" id="demo" class="collapse">but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was
                    popularised in
                    the 1960</span>
                <span *ngIf="isShown" class="text-primary " data-toggle="collapse" (click)="toggleShow()" data-target="#demo"><br>Read Less</span>
            </p>

        </div>
    </div>
    <div class="col-md-4 col-sm-8 col-lg-4">
        <!-- <div class="imageoverlap">
            <div class="card">
                <img class="card-img-top"
                    src="https://chiefwritingwolf.files.wordpress.com/2015/09/old-covered-books-hd-wallpaper-1024x683.jpg"
                    alt="Card image" style="width:100%">
                <div class="card-body text-center">
                    <a href="#" class="btn stretched-link px-5"
                        style="background-color:orange;border-radius:30px;color: white;">Download Guide</a>
                </div>
            </div>
        </div> -->

        <div class="imageoverlap">
            <div class="card">
                <div class="p2vw m5" style="background-color: #8080800d;">
                    <div>
                        <h4>School Name</h4>
                    </div>
                    <div>
                        <h6>Location</h6>
                    </div>
                    <div>
                        <h4>UGC Approved</h4>
                    </div>
                    <div>
                        <h4>Members of AIU</h4>
                    </div>
                    <div>
                        <span><i class="fa fa-star" style="color: gold;"></i>&nbsp;<i class="fa fa-star" style="color: gold;"></i>&nbsp;<i class="fa fa-star" style="color: gold;"></i>&nbsp;<i class="fa fa-star" style="color: gold;"></i>&nbsp;<i class="fa fa-star" style="color: gold;"></i></span><br>
                        <span><i class="fa fa-user" style="color: rgba(9, 148, 136);">&nbsp;&nbsp;</i><span>5,1234</span>&nbsp;<span>Students</span></span>
                    </div>
                </div>
                <div class="card-body text-center">
                    <!-- <a href="#" class="btn stretched-link px-5" -->
                    <!-- style="background-color:orange;border-radius:30px;color: white;">Download Guide</a> -->
                    <div>
                        <button type="button" class="btn btn-block floating_card_btn">APPLY NOW</button><br>
                        <button type="button" class="btn btn-block floating_card_btn2">ADD TO COMPARE</button><br>
                        <button type="button" class="btn btn-block floating_card_btn2">DOWNLOAD BROUCHER</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>













<div style="position: relative" data-spy="scroll" data-target=".navbar" data-offset="50">



    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="hi" href="javascript:void(0);" (click)="toTop('classes')">Classes & Fess View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('Reviews')">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('admission_criteria')">Admission Eligibility
                    Criteria</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('facilities')">Facilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('gallery')">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('events')">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('scholarships')">Scholarship</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('questions-a')">Q&A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('articles')">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="toTop('contacts')">Contact</a>
            </li>

        </ul>
    </nav>

    <div id="classes" class="container-fluid" style="padding-top:70px;padding-bottom:70px">














        <div class="py-3 pl-4" data-toggle="collapse" data-target="#demo" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;"> Classes and Fees (Showing 5 of 233 Coueses) </h5>
            <p class="pr-4" style=" float:right">See All</p>

            <br>
        </div>

        <div id="demo" class="collapse show">
            <label class="browse_heading">Browse by Class</label>
            <div class="row pl-4 ">
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
            </div>
            <label class="browse_heading">Browse by Streams(Only for 11 & 12th)</label>
            <div class="row ">
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="container"> -->
            <div class="card_view_container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card card_style ">
                            <div class="card-body card-body-style">
                                <h5 class="card-title">School Name</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                </p>
                                <div class="row pl-3">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="p-1"> <span class="fa fa-user pr-1"></span><label class="label-style">
                                            356764 students</label></div>

                                </div>
                                <button type="button" class="couese_price_btn">INR 60,000</button>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card card_style">
                            <div class="card-body card-body-style">
                                <h5 class="card-title">School Name</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                </p>
                                <div class="row pl-3">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="p-1"> <span class="fa fa-user pr-1"></span><label class="label-style">
                                            356764 students</label></div>
                                </div>
                                <button type="button" class="couese_price_btn">INR 60,000</button>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card card_style">
                            <div class="card-body card-body-style">
                                <h5 class="card-title">School Name</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                </p>
                                <div class="row pl-3">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="p-1"> <span class="fa fa-user pr-1"></span><label class="label-style">
                                            356764 students</label></div>

                                </div>
                                <button type="button" class="couese_price_btn">INR 60,000</button>
                            </div>

                        </div>
                    </div>

                </div>



                <div class="row">

                    <div class="col-sm-4 pt-3">
                        <div class="card card_style">
                            <div class="card-body card-body-style">
                                <h5 class="card-title">School Name</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                </p>
                                <div class="row pl-3">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="p-1"> <span class="fa fa-user pr-1"></span><label class="label-style">
                                            356764 students</label></div>

                                </div>
                                <button type="button" class="couese_price_btn">INR 60,000</button>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4 pt-3">
                        <div class="card card_style">
                            <div class="card-body card-body-style">
                                <h5 class="card-title">School Name</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                </p>
                                <div class="row pl-3">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="p-1"> <span class="fa fa-user pr-1"></span><label class="label-style">
                                            356764 students</label></div>

                                </div>
                                <button type="button" class="couese_price_btn">INR 60,000</button>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4 pt-3">
                        <div class="card card_style">
                            <div class="card-body card-body-style">
                                <h5 class="card-title">School Name</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                </p>
                                <div class="row pl-3">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="p-1"> <span class="fa fa-user pr-1"></span><label class="label-style">
                                            356764 students</label></div>

                                </div>
                                <button type="button" class="couese_price_btn">INR 60,000</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- reviews section -->

    <div id="Reviews" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#reviews" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;"> School Reviews (233 Reviews)</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="reviews" class="collapse show">
            <div class="row pt-4 ">
                <div class="col-sm-6">
                    <h6 class="rating_heading">Overall Ratings <span>(Out of 5)</span>
                    </h6>
                    <div class="row">
                        <div class="col-sm-2 pl-4">
                            <h1>4.5</h1>
                        </div>

                        <div class="col-sm-10 pl-4">
                            <div>
                                <span class="fa fa-star checked_R"></span>
                                <span class="fa fa-star checked_R"></span>
                                <span class="fa fa-star checked_R"></span>
                                <span class="fa fa-star checked_R"></span>
                                <span class="fa fa-star unchecked_R"></span>
                            </div>
                            <h6>based on 233 verified reviews</h6>

                            <div class="row pt-4">
                                <div class=" col-sm-3 rating-text">>4-5 star </div>
                                <div class=" col-sm-7 pt-2">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:72%"> </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 rating_perc">
                                    <p>72%</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-sm-3 rating-text">
                                    >3-4 star
                                </div>
                                <div class=" col-sm-7 pt-2">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:23%"></div>
                                    </div>

                                </div>
                                <div class=" col-sm-2 rating_perc">
                                    <p>23%</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 rating-text">
                                    >2-3 star
                                </div>
                                <div class="col-sm-7 pt-2">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:5%"></div>
                                    </div>
                                </div>
                                <div class=" col-sm-2 rating_perc">
                                    <p>5%</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-sm-3 rating-text">
                                    >1-2 star
                                </div>
                                <div class="col-sm-7 pt-2">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:0%"></div>
                                    </div>
                                </div>
                                <div class="col-sm-2 rating_perc">
                                    <p>0%</p>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="rating_heading2">Overall Ratings <span>(Out of 5)</span> </h6>
                    <div class="row pt-4">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <p class="rating_perc">4.5 <span><label class="rating_label">Placements</label></span></p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <p class="rating_perc">4.2 <span><label class="rating_label">Infrastructure</label></span></p>
                        </div>

                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <p class="rating_perc"> 4.2 <span><label class="rating_label">Faculty & Course Curriculum</label></span></p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <p class="rating_perc">4.5 <span><label class="rating_label"> Crowd & Campus Life</label> </span></p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <p class="rating_perc">4.5 <span><label class="rating_label"> Value for Money</label></span></p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <p class="rating_perc">4.6 <span><label class="rating_label">Time Duration</label> </span></p>
                        </div>
                    </div>

                </div>
            </div>

            <button class="review-btn" type="button" data-toggle="modal" data-target="#submitReview">Ratings & Reviews <br /> <label class="review-btn-text">Click here to
                give Rating & Reviews</label></button>

            <!-- The Modal -->
            <div class="modal fade" id="submitReview">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title w-100 text-center">RATING & REVIEWS</h4>
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle-o fontsize" aria-hidden="true"></i></button>
                        </div>


                        <!-- Modal body -->
                        <div class="row pb-3">
                            <div class="col-sm-4">
                                <P class="model-input-heading">Placements</P>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Type your review here.." class="form-control model_input-r" id="pwd" name="password">
                            </div>
                            <div class="col-sm-2">
                                <div>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-sm-4">
                                <P class="model-input-heading">Infrastructure</P>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Type your review here.." class="form-control model_input-r" id="pwd" name="password">
                            </div>
                            <div class="col-sm-2">

                                <div>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-sm-4">
                                <p class="model-input-heading">Faculty & Course Curriculum</p>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Type your review here.." class="form-control model_input-r" id="pwd" name="password">
                            </div>
                            <div class="col-sm-2">
                                <div>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-sm-4">
                                <p class="model-input-heading">Crowd & Campus Life</p>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Type your review here.." class="form-control model_input-r" id="pwd" name="password">
                            </div>
                            <div class="col-sm-2">
                                <div>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-sm-4">
                                <p class="model-input-heading">Value for Money</p>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Type your review here.." class="form-control model_input-r" id="pwd" name="password">
                            </div>
                            <div class="col-sm-2">
                                <div>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-sm-4">
                                <p class="model-input-heading">Time Duration</p>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Type your review here.." class="form-control model_input-r" id="pwd" name="password">
                            </div>
                            <div class="col-sm-2">

                                <div>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                    <span class="fa fa-star unchecked_m"></span>
                                </div>
                            </div>
                        </div>


                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="submit-review">SUBMIT</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal End-->
            <div class="row pt-5">
                <div class="col-sm-2" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="review_rating_btn">
                                <span style="position: relative;top:25%;color:white">4.6</span>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <h5 class="review_name">Clarence Klein</h5>
                    <h5 class="review_date">June 21</h5>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <h6 class="review_heading">Best teaching and faculty members</h6>
                    <div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Placement</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Infrastructure</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Faculty an Course Curriculum</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Crowd and Campus Life</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Value of Money</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Time Duration</span>
                            </div>
                        </div>
                    </div>
                    <p class="pt-2">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-sm-2" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="review_rating_btn">
                                <span style="position: relative;top:25%;color:white">4.6</span>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <h5 class="review_name">Clarence Klein</h5>
                    <h5 class="review_date">June 21</h5>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <h6 class="review_heading">Best teaching and faculty members</h6>
                    <div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Placement</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Infrastructure</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Faculty an Course Curriculum</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Crowd and Campus Life</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Value of Money</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Time Duration</span>
                            </div>
                        </div>
                    </div>
                    <p class="pt-2">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-sm-2" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="review_rating_btn">
                                <span style="position: relative;top:25%;color:white">4.6</span>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <h5 class="review_name">Clarence Klein</h5>
                    <h5 class="review_date">June 21</h5>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <h6 class="review_heading">Best teaching and faculty members</h6>
                    <div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Placement</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Infrastructure</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Faculty an Course Curriculum</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Crowd and Campus Life</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Value of Money</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Time Duration</span>
                            </div>
                        </div>
                    </div>
                    <p class="pt-2">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-sm-2" style="text-align:center;">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="review_rating_btn">
                                <span style="position: relative;top:25%;color:white">4.6</span>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <h5 class="review_name">Clarence Klein</h5>
                    <h5 class="review_date">June 21</h5>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star unchecked"></span>
                        <span class="fa fa-star unchecked"></span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <h6 class="review_heading">Best teaching and faculty members</h6>
                    <div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span><label>Placement</label></span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Infrastructure</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Faculty an Course Curriculum</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Crowd and Campus Life</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">4/5</h5>
                                <span>Value of Money</span>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="points-txt">5/5</h5>
                                <span>Time Duration</span>
                            </div>
                        </div>
                    </div>
                    <p class="pt-2">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
                </div>
            </div>


        </div>
    </div>


    <!-- admission Criteria section -->
    <div id="admission_criteria" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#criteria" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;">Admission Eligibily Criteria</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="criteria" class="collapse show">
            <div class="row pl-4">
                <div class="col pt-3 pb-3">
                    <h3 class="criteria-details">Details</h3>
                    <div style="width:100%">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                            <span *ngIf="!isShown" class="text-primary " data-toggle="collapse" (click)="toggleShow()" data-target="#demo1"><br>Read More <i class="fa fa-arrown-down"></i></span>
                            <span *ngIf="isShown" id="demo1" class="collapse">but also the leap into electronic
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum
                                passages, and more recently with desktop publishing software like Aldus PageMaker
                                including
                                versions of Lorem Ipsum.</span>
                            <span *ngIf="isShown" class="text-primary " data-toggle="collapse" (click)="toggleShow()" data-target="#demo1"><br>Read Less</span>
                        </p>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- facilities section -->
    <div id="facilities" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#facilities-view" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;">Facilities</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="facilities-view" class="collapse show">
            <div class="row pl-4">
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-4 col-md-4 col-lg-4 ">
                    <ul style="list-style-type: none;">
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                        <li class="py-1 check_box_list"><i class="fa fa-check-circle-o text-primary"></i> &nbsp;Lorem ipsum dolor sit amet
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- gallery section -->
    <div id="gallery" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#gallery-view" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;">Gallery</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="gallery-view" class="collapse show pt-5">
            <div class="container">

                <div class="row text-center text-lg-left">

                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- event section -->
    <div id="events" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#events-view" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;">Events</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="events-view" class="collapse show">

            <div class="row pt-5 pl-4 ">
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK7J2ONiGSAMSOaqIdqWLhn6D9uRFfgIEJJpJXvNb36LClxjVc&s" alt="Card image" style="width:100%;height:50%">
                        <div class="card-body">
                            <h5 class="card-title event-title">Event Name</h5>
                            <p class="card-text event-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry

                                <span *ngIf="!isShown8" class="text-primary " data-toggle="collapse" (click)="toggleShow8()" data-target="#demo8"><br>Read More <i
                                        class="fa fa-arrown-down"></i></span>
                                <span *ngIf="isShown8" id="demo4" class="collapse">but also the leap into electronic
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum
                                    passages, and more recently with desktop publishing software like Aldus PageMaker
                                    including
                                    versions of Lorem Ipsum.</span>
                                <span *ngIf="isShown8" class="text-primary " data-toggle="collapse" (click)="toggleShow8()" data-target="#demo8"><br>Read Less</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd7q3Me69MAnbUUX9-7iSLkADA-qmmF2kuK6rDitKYvVwUAqJ_&s" alt="Card image" style="width:100%;height:50%">
                        <div class="card-body">
                            <h5 class="card-title event-title">Event Name</h5>
                            <p class="card-text event-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry

                                <span *ngIf="!isShown9" class="text-primary " data-toggle="collapse" (click)="toggleShow9()" data-target="#demo9"><br>Read More <i
                                        class="fa fa-arrown-down"></i></span>
                                <span *ngIf="isShown9" id="demo9" class="collapse">but also the leap into electronic
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum
                                    passages, and more recently with desktop publishing software like Aldus PageMaker
                                    including
                                    versions of Lorem Ipsum.</span>
                                <span *ngIf="isShown9" class="text-primary " data-toggle="collapse" (click)="toggleShow9()" data-target="#demo9"><br>Read Less</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK7J2ONiGSAMSOaqIdqWLhn6D9uRFfgIEJJpJXvNb36LClxjVc&s" alt="Card image" style="width:100%;height:50%">
                        <div class="card-body">
                            <h5 class="card-title event-title">Event Name</h5>
                            <p class="card-text event-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry

                                <span *ngIf="!isShown10" class="text-primary " data-toggle="collapse" (click)="toggleShow10()" data-target="#demo10"><br>Read More <i
                                        class="fa fa-arrown-down"></i></span>
                                <span *ngIf="isShown10" id="demo10" class="collapse">but also the leap into electronic
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum
                                    passages, and more recently with desktop publishing software like Aldus PageMaker
                                    including
                                    versions of Lorem Ipsum.</span>
                                <span *ngIf="isShown10" class="text-primary " data-toggle="collapse" (click)="toggleShow10()" data-target="#demo10"><br>Read Less</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd7q3Me69MAnbUUX9-7iSLkADA-qmmF2kuK6rDitKYvVwUAqJ_&s" alt="Card image" style="width:100%;height:50%">
                        <div class="card-body">
                            <h5 class="card-title event-title">Event Name</h5>
                            <p class="card-text event-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry

                                <span *ngIf="!isShown11" class="text-primary " data-toggle="collapse" (click)="toggleShow11()" data-target="#demo11"><br>Read More <i
                                        class="fa fa-arrown-down"></i></span>
                                <span *ngIf="isShown11" id="demo11" class="collapse">but also the leap into electronic
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum
                                    passages, and more recently with desktop publishing software like Aldus PageMaker
                                    including
                                    versions of Lorem Ipsum.</span>
                                <span *ngIf="isShown11" class="text-primary " data-toggle="collapse" (click)="toggleShow11()" data-target="#demo11"><br>Read Less</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- scholoarship section -->
    <div id="scholarships" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#scholarships-view" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;">Scholarships</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="scholarships-view" class="collapse show">

            <div class="row pl-4">
                <div class="col pt-3 pb-3">
                    <h3 class="exam-details">Details</h3>
                    <div style="width:100%">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                            <span *ngIf="!isShown3" class="text-primary " data-toggle="collapse" (click)="toggleShow3()" data-target="#demo3"><br>Read More <i class="fa fa-angle-down"></i></span>
                            <span *ngIf="isShown3" id="demo3" class="collapse">but also the leap into electronic
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum
                                passages, and more recently with desktop publishing software like Aldus PageMaker
                                including
                                versions of Lorem Ipsum.</span>
                            <span *ngIf="isShown3" class="text-primary " data-toggle="collapse" (click)="toggleShow3()" data-target="#demo3"><br>Read Less<i class="fa fa-angle-up"></i></span>
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- questions and answers section -->
    <div id="questions-a" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#qa-view" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;">Q&A</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="qa-view" class="collapse show">

            <div class="row pt-5 pl-4">
                <div class="col-sm-1">
                    <label class="qa-label">01</label>
                </div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-plus-circle qa-toggle" aria-hidden="true" data-toggle="collapse" (click)="toggleShow()" data-target="#answers"></i>
                </div>

            </div>
            <div class="row collapse show" id="answers">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                        by accident, sometimes on purpose (injected humour and the like).
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>


            <div class="row">
                <div class="col-sm-1">
                    <label class="qa-label">02</label>
                </div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-plus-circle qa-toggle" aria-hidden="true" data-toggle="collapse" (click)="toggleShow()" data-target="#answers2"></i>
                </div>

            </div>
            <div class="row collapse" id="answers2">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                        by accident, sometimes on purpose (injected humour and the like).
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <label class="qa-label">03</label>
                </div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-plus-circle qa-toggle" aria-hidden="true" data-toggle="collapse" (click)="toggleShow()" data-target="#answers3"></i>
                </div>

            </div>
            <div class="row collapse" id="answers3">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                        by accident, sometimes on purpose (injected humour and the like).
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <label class="qa-label">04</label>
                </div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-plus-circle qa-toggle" aria-hidden="true" data-toggle="collapse" (click)="toggleShow()" data-target="#answer4"></i>
                </div>

            </div>
            <div class="row collapse" id="answers4">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                        by accident, sometimes on purpose (injected humour and the like).
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <label class="qa-label">05</label>
                </div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-plus-circle qa-toggle" aria-hidden="true" data-toggle="collapse" (click)="toggleShow()" data-target="#answers5"></i>
                </div>

            </div>
            <div class="row collapse" id="answers5">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                        by accident, sometimes on purpose (injected humour and the like).
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>

        </div>
    </div>

    <!-- articles section -->

    <div id="articles1" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#articles-view" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;">Articles</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="articles-view" class="collapse show">

            <div class="row pt-5 pl-4">
                <div class="col-sm-3">
                    <div class="card article-bg">
                        <div class="card-body">
                            <h5 class="card-title article-title ">Lorem Ipsum is simply dummy text</h5>
                            <p class="card-text article-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry

                                <span *ngIf="!isShown4" class="text-primary " data-toggle="collapse" (click)="toggleShow4()" data-target="#demo4"><br>Read More <i
                                        class="fa fa-arrown-down"></i></span>
                                <span *ngIf="isShown4" id="demo4" class="collapse">but also the leap into electronic
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum
                                    passages, and more recently with desktop publishing software like Aldus PageMaker
                                    including
                                    versions of Lorem Ipsum.</span>
                                <span *ngIf="isShown4" class="text-primary " data-toggle="collapse" (click)="toggleShow4()" data-target="#demo4"><br>Read Less</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card article-bg">
                        <div class="card-body">
                            <h5 class="card-title  article-title">Lorem Ipsum is simply dummy text</h5>
                            <p class="card-text article-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry

                                <span *ngIf="!isShown5" class="text-primary " data-toggle="collapse" (click)="toggleShow5()" data-target="#demo5"><br>Read More <i
                                        class="fa fa-arrown-down"></i></span>
                                <span *ngIf="isShown5" id="demo5" class="collapse">but also the leap into electronic
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum
                                    passages, and more recently with desktop publishing software like Aldus PageMaker
                                    including
                                    versions of Lorem Ipsum.</span>
                                <span *ngIf="isShown5" class="text-primary " data-toggle="collapse" (click)="toggleShow5()" data-target="#demo5"><br>Read Less</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card article-bg">
                        <div class="card-body">
                            <h5 class="card-title  article-title">Lorem Ipsum is simply dummy text</h5>
                            <p class="card-text article-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry

                                <span *ngIf="!isShown6" class="text-primary " data-toggle="collapse" (click)="toggleShow6()" data-target="#demo6"><br>Read More <i
                                        class="fa fa-arrown-down"></i></span>
                                <span *ngIf="isShown6" id="demo6" class="collapse">but also the leap into electronic
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum
                                    passages, and more recently with desktop publishing software like Aldus PageMaker
                                    including
                                    versions of Lorem Ipsum.</span>
                                <span *ngIf="isShown6" class="text-primary " data-toggle="collapse" (click)="toggleShow6()" data-target="#demo6"><br>Read Less</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card article-bg">
                        <div class="card-body">
                            <h5 class="card-title  article-title">Lorem Ipsum is simply dummy text</h5>
                            <p class="card-text article-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry

                                <span *ngIf="!isShown7" class="text-primary " data-toggle="collapse" (click)="toggleShow7()" data-target="#demo7"><br>Read More <i
                                        class="fa fa-arrown-down"></i></span>
                                <span *ngIf="isShown7" id="demo7" class="collapse">but also the leap into electronic
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum
                                    passages, and more recently with desktop publishing software like Aldus PageMaker
                                    including
                                    versions of Lorem Ipsum.</span>
                                <span *ngIf="isShown7" class="text-primary " data-toggle="collapse" (click)="toggleShow7()" data-target="#demo7"><br>Read Less</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- contacts section -->
    <div id="contacts" class="container-fluid" style="padding-bottom:70px">
        <div class="py-3 pl-4" data-toggle="collapse" data-target="#contacts-view" style="width:100%;background-color:teal;color:white">
            <h5 style="float: left;">Contact</h5>
            <p class="pr-4" style=" float:right">See All</p>
            <br>
        </div>

        <div id="contacts-view" class="collapse show">

            <div class="row pt-5 pl-4">
                <div class="col-sm-4">
                    <div class="card " style="height:35vh;">
                        <div class="card-body">
                            <h5 class="card-title contact-title">Address</h5>
                            <h5 class="card-text collage-name">Collage Name</h5>
                            <p class="card-text contact-details">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                            <p class="card-text contact-details">Lorem Ipsum is simply dummy text of the printing and typesetting</p>

                        </div>

                    </div>
                </div>

                <div style="padding-top: 10px;" class="col-sm-4">
                    <div class="card " style="height:35vh;">
                        <div class="card-body">
                            <h5 class="card-title">Communication</h5>
                            <p class="card-text collage-name">www.collagename.com</p>
                            <p class="card-text collage-name">info@collagename.com</p>
                            <p class="card-text mobile-no">+91 9876543210</p>
                            <p class="card-text mobile-no">+91 9876543210</p>
                        </div>

                    </div>
                </div>

                <div style="padding-top: 10px;" class="col-sm-4">
                    <div class="card " style="height:35vh">
                        <!-- <div class="card-body mapbody">
                            <img class="card-img-top"
                                src="https://icdn7.digitaltrends.com/image/digitaltrends/google_maps_share_location_1-500x300-c.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="centered">View On Map</div> -->

                        <div style="height:35vh" class="overlay-image">
                            <div class="overlay-color">
                                <div class="centered">View On Map
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>