/* .has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
 */

 .nav-item {
    padding: 1vw;
}

.fontstyle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.fontweight {
    font-weight: bold;
}

/* .headerbackground {
    background-image: url('/assets/images/college.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
} */

.layer {
    background-color: rgba(9, 148, 136, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* .middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: auto;
    position: relative;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
} */

.signupmodal {
    width: 50%;
    color: rgba(9, 148, 136);
    height: 100%;
    line-height: 2.05;
    text-align: center;
}


/* .modal-title:hover{
    background-color: rgb(197, 194, 194);
    color: grey;
} */

.signupmodal:active {
    background-color: rgb(197, 194, 194) !important;
    color: grey !important;
}

.modal-header-login {
    padding: 0 !important;
}

.input-group-text {
    background-color: white !important;
    border-right-style: none !important;
}

.borderleft {
    border-left-style: none !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: rgb(197, 194, 194) !important;
    color: grey !important;
}

#search {
    max-width: 20%;
    color: white;
}

.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

.change:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

.change::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

.change:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

#table2 {
    border-collapse: separate;
    border-spacing: 10px 10px;
    border: grey;
}

.bannerStyle div {
    background-color: #ccc;
    background-size: cover !important;
    height: 100%;
}

.bannerStyle img {
    width: 100%;
    height: 100%;
}

.bannerStyle h1 {
    text-align: center;
    background: rgba(0, 0, 0, 0.32);
    color: white;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile {
    min-height: 200px;
    background-color: #ccc;
    background-size: cover !important;
}

.tile h1 {
    text-align: center;
    line-height: 200px;
    background: rgba(0, 0, 0, 0.32);
    color: white;
    margin: 0;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    right: 0;
}

.checked {
    color: teal;
}

.container-fluid {
    padding: 0 !important;
}

.banner-find-text {
    font-size: 4vw;
}

.banner_h4 {
    font-size: 1.5vw;
}


/************************media*****************************/

@media only screen and (max-width: 1024px) {}

@media only screen and (min-width: 1025px) and (max-width:1280px) {}

@media only screen and (min-width: 1281px) and (max-width: 1350px) {}

@media only screen and (min-width: 1351px) and (max-width:1366px) {}

@media only screen and (min-width: 1367px) and (max-width:1440px) {}

@media only screen and (min-width: 1441px) and (max-width: 1536px) {}

@media only screen and (min-width: 1537px) and (max-width: 1920px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 600px) {
    .banner-find-text {
        font-size: 6vw !important;
    }
    .banner_h4 {
        font-size: 10px !important;
    }
}


/************************media*****************************/