.imgtop{
    width: 100%;height:40vh ;
}
.container-fluid {
    position: relative;

  }
  
 
  
  .top-left {
    position: absolute;
    top: 3vh;
    left: 10vh;
    color:white
  }
  .textclr{
      color: grey;
  }
  .checked {
    color: orange
}
.bgstyle{
    background-color: teal;
    color: white;
}
.tableheading{
    font-size: 1.5rem;
}
.tablebody{
    font-size: 1rem;
}
.w50{
    width: 50%;
}
.btnstyle{
    color: teal;
}
.h6color{
    color: teal;
}

@media only screen and (max-width: 600px) {
    .tableheading {
      font-size: 1rem;
    }
    .btndownload{
        justify-content: center;
    }
    .textclr{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;
    }
  }
  .btndownload{
      float: right;background-color: orange;color: white;border-radius:25px;}