<app-other-header>
</app-other-header>

<div class="container-fluid">
    <img class="imgtop"
        src="https://c4.wallpaperflare.com/wallpaper/985/791/773/architecture-buildings-campus-church-wallpaper-preview.jpg"
        alt="study-abroad">
    <div class="top-left">Course / Course Detail View</div>

    <div class="card">
        <div class="card-body">
            <h4>Bachelor of Science in Computer Science From Standard University - USA</h4>
            <div class="row pt-2">
                <div class="col-sm-8">
                    <h4 class="textclr"><i class="fa fa-map-marker pr-2"></i>Stanford,California,USA | Private
                        University | Established in 1891</h4>
                </div>
                <div class="col-sm-4">
                    <button class="btn px-lg-5 py-lg-2 btndownload">Download
                        Brouchre</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p><i class="fa fa-calendar pr-2 checked"></i>3 years
                        <i class="fa fa-circle pl-2 pr-2" style="font-size: 8px;float: center;color: teal;"></i>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <i class="fa fa-circle pl-2 pr-2" style="font-size: 8px;float: center;color: teal;"></i>
                        250 reviews</p>
                </div>
            </div>
        </div>

    </div>



    <div class="card my-5">
        <div class="card-body">
            <h4>Find More Courses at this University</h4>
            <div class="row">
        
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>


                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>
                <div class="col-sm-4 col-6 col-md-3 col-lg-2 pt-2">
                    <button class="btn btn-outline-secondary">
                        All Courses
                    </button>
                </div>

            </div>

           


        </div>
    </div>



    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-11">
                    <h4>Fees & Expensive</h4>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <select class="form-control">
                            <option>INR</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <h4>1st Year Tution Fees</h4>
            <div class="table-responsive">
                <table class="table table-bordered text-center ">
                    <thead class="bgstyle tableheading">
                        <th>Fees Component</th>
                        <th>Amount</th>
                    </thead>
                    <tbody class="tablebody">
                        <td>Tution an Fees</td>
                        <td>INR 30,0000</td>
                    </tbody>
                </table>
            </div>

            <h4>Other expenses in 1st Year</h4>
            <div class="table-responsive">
                <table class="table table-bordered text-center ">
                    <thead class="bgstyle tableheading">
                        <th>Fees Component</th>
                        <th>Amount</th>
                    </thead>
                    <tbody class="tablebody">
                        <tr>
                            <td>Hostel and Meals</td>
                            <td>INR 30,0000</td>
                        </tr>
                        <tr>
                            <td>Insurance</td>
                            <td>INR 30,0000</td>
                        </tr>
                        <tr>
                            <td>Books and Supplies</td>
                            <td>INR 30,0000</td>
                        </tr>
                        <tr>
                            <td>Student Fees</td>
                            <td>INR 30,0000</td>
                        </tr>
                        <tr>
                            <td>Documnet Fees</td>
                            <td>INR 30,0000</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>INR 30,0000</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5 class="textclr">Calulated at the exchange rate of 1 USD = INR 71.89 | Tution & expenses were last
                updated on 17th December 2018</h5>


        </div>
    </div>

    <div class="card my-5">
        <div class="card-body">
            <h4>Entry Requirement</h4>
            <div class="table-responsive">
                <table class="table table-bordered  ">
                    <thead class="bgstyle tableheading">
                        <th colspan="2" class="text-center">Entry Requirement for this course</th>
                    </thead>
                    <tbody class="tablebody">
                        <tr>
                            <td class="text-center w50">Class 12th</td>
                            <td>No Specific cut-off Required
                                <ul>
                                    <li>lorem epsum is dummy text</li>
                                    <li>lorem epsum is dummy text</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center w50">Exams</td>
                            <td>SAT : Expected
                                <ul>
                                    <li>Submit SAT</li>
                                </ul>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="card">
        <div class="card-header">
            Scholerships
        </div>
        <div class="card-body">
            <p>loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is dummy
                text</p>
            <div class="row justify-content-center">
                <button class="btn btn-outline-secondary btnstyle rounded px-4">View All Schlerships <i
                        class="fa fa-angle-right pl-2"></i></button>
            </div>
        </div>
    </div>


    <div class="card my-5">
        <div class="card-header bgstyle">
            Enterance Exam Details
        </div>
        <div class="card-body">
            <p>loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is dummy
                text.loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is
                dummy text.</p>
            <p>loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is dummy
                text.loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is dummy text.loreum epsum is
                dummy text.</p>
            <p style="color: blue;">Read More</p>


            <!-- categories -->
            <div>
                <div class="form-group row text-center">
                    <div class="col-sm-4 col-6 col">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Gate
                            </label>
                        </div>
                    </div>
                    <div class="col col-sm-4 col-6 ">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">JEE
                            </label>
                        </div>
                    </div>
                    <div class="col col-sm-4 col-6 ">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Comed-k
                            </label>
                        </div>
                    </div>
                    <div class="col col-sm-4 col-6 ">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Gate
                            </label>
                        </div>
                    </div>
                    <div class="col col-sm-4 col-6 ">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Gate
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="card">
        <div class="card-header bgstyle">
            Facilaties
        </div>
        <div class="card-body">
            <!-- categories -->
            <div>
                <div class="form-group row text-center">
                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Hostel
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Labs
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="card my-5">
        <div class="card-header bgstyle">
            Contact
        </div>
        <div class="card-body">

            <div class="row ">
                <div class="col  ml-2">
                    <h5>Address</h5>
                    <h6 class="h6color">Bachelor Science in Computer Science From Standard University - USA</h6>
                    <h6>Loreum Epsum is dummy text of the printing and typesetting industry.Standard dummy text</h6>
                </div>
                <div class="col ml-2">
                    <h5>Communication</h5>
                    <h6 class="h6color">WWW.Californiausa.com</h6>
                    <h6 class="h6color">Californiausa@gmail.com</h6>
                    <h6>7489746377<br>7489746377</h6>                 
                </div>
                <div class="col">
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQFUaZcqbh8MouExxeGI31k0n3tP3PcUp0iOs7JSoauPxRFMPtiw&s">
                </div>
            </div>
        </div>
    </div>


</div>