/* below-header */

.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* below-header */

.salary-col-background {
    background-color: #ff993f;
    color: white;
}

.salary_td {
    vertical-align: middle;
}

.placmnt{
    text-align: center;
    margin-top:50%;

}