<app-other-header></app-other-header>



<div class="container-fluid p0">
    <!-- header -->
    <div class="afternav" style="  height: 30vh;width: 100%;">
        <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
            <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home /Salary trend report</p>

            <h2 style="color: white;font-weight: 400;">Salary Trend Report</h2>
        </div>
    </div>
    <!-- header -->



    <div class="container pt2vh pb2vh">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control">
                      <option>College</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control">
                      <option>Course</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control">
                      <option>Role</option>
                    </select>
                </div>
            </div>
        </div>

        <div>

            <table class="table table-bordered table-border-new">
                <thead>
                    <tr>
                        <th></th>
                        <th style="color: #00a197; font-size: 14px;">Company Name</th>
                        <th style="color: #00a197; font-size: 14px;">No of student placed</th>
                        <th style="color: #00a197;font-size: 14px;">Salary per annum</th>
                      
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td class="">
                            <div>
                                <img src="assets/images/college.jpg" class="width100p height100">
                            </div>
                        </td>
                        <td class="salary_td  ">
                            <h5>Company Name </h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>


                        <td class="placmnt">
                            <label class="placmnt">300 Students</label>
                          
                        </td>
                        <td class="salary_td  salary-col-background">
                            <div class="text-center">
                                <h5>4 Lakhs to 8 Lakhs</h5>
                            </div>
                        </td>
                    </tr><br>

                    
                    <tr>
                        <td class="">
                            <div>
                                <img src="assets/images/college.jpg" class="width100p height100">
                            </div>
                        </td>
                        <td class="salary_td ">
                            <h5>Company Name </h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>

                        <td class="placmnt">
                            <label class="placmnt">300 Students</label>
                          
                        </td>
                        <td class="salary_td  salary-col-background">
                            <div class="text-center">
                                <h5>4 Lakhs to 8 Lakhs</h5>
                            </div>
                        </td>
                    </tr><br>

                    <tr>
                        <td class="">
                            <div>
                                <img src="assets/images/college.jpg" class="width100p height100">
                            </div>
                        </td>
                        <td class="salary_td ">
                            <h5>Company Name </h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>


                        <td class="placmnt">
                            <label class="placmnt">300 Students</label>
                          
                        </td>
                        <td class="salary_td  salary-col-background">
                            <div class="text-center">
                                <h5>4 Lakhs to 8 Lakhs</h5>
                            </div>
                        </td>
                    </tr><br>




                    
                    <tr>
                        <td class="">
                            <div>
                                <img src="assets/images/college.jpg" class="width100p height100">
                            </div>
                        </td>
                        <td class="salary_td ">
                            <h5>Company Name </h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>


                        <td class="placmnt">
                            <label class="placmnt">300 Students</label>
                          
                        </td>
                        <td class="salary_td  salary-col-background">
                            <div class="text-center">
                                <h5>4 Lakhs to 8 Lakhs</h5>
                            </div>
                        </td>
                    </tr><br>



                    
                    <tr>
                        <td class="">
                            <div>
                                <img src="assets/images/college.jpg" class="width100p height100">
                            </div>
                        </td>
                        <td class="salary_td ">
                            <h5>Company Name </h5>
                            <h6>Location</h6>
                            <h6 class="shortlist_h6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h6>
                        </td>


                        <td class="placmnt">
                            <label class="placmnt">300 Students</label>
                          
                        </td>
                        <td class="salary_td  salary-col-background">
                            <div class="text-center">
                                <h5>4 Lakhs to 8 Lakhs</h5>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>