<app-other-header></app-other-header>

<div class="container-fluid p0">

    <div class="afternav" style="  height: 30vh;width: 100%;">
        <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
            <p style="color: white;"><i class="fa fa-long-arrow-left"></i>Home / Predictor</p>

            <h5 style="color: white;font-weight: 400;">College Predictor</h5>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <div class="d-flex justify-content-between">
                <div class="filters_txt">Filters</div>
                <div class="reset_txt">Reset</div>
            </div>
        </div>

    </div>

    <div class="row">


        <!-- <div class="col-6 col-sm-6 col-md-6 col-lg-6"></div> -->
    </div>

    <div class="row mt-2">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-sm-2 mb-2">

            <div id="accordion">
                <div class="card my-2">
                    <div class="card-header" data-toggle="collapse" data-target="#collapseOne">
                        <div class="row">
                            <div class="col-sm-10 expand_view_header">
                                <label style="color: #626e71; font-weight: 700;" class="card-link">
                                    Location
                                </label>
                            </div>
                            <div class="col-sm-2 expand_view_headers">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show " data-parent="#accordion">

                        <div class="input-group shadow bg-white rounded my-2 ">
                            <input type="text" class="form-control searchborder search_bd" style="box-shadow: none;" placeholder="Search here">
                            <div class="input-group-append ">
                                <span class="input-group-text searchborder"><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <div style="margin-top: 10px;"></div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Hyderabad
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Bangalore
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Chennai
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Pune
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Mumbai
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Delhi
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">

                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Assam
                            </label>
                        </div>



                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapsetwo">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Categories
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>


                        <div id="collapsetwo" class="collapse " data-parent="#accordion">

                            <div style="margin-left: 10px;" class="form-check ">

                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>


                        </div>


                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#rating">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Rating
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="rating" class="collapse" data-parent="#accordion">

                            <div style="margin-left: 10px;" class="form-check ">

                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>


                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#accreditaion">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                    Class
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>


                        <div id="accreditaion" class="collapse " data-parent="#accordion">

                            <div style="margin-left: 10px;" class="form-check ">

                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>


                        </div>


                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#facilities">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Fees
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>


                        <div id="facilities" class="collapse " data-parent="#accordion">

                            <div style="margin-left: 10px;" class="form-check ">

                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>


                        </div>


                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#approvals">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                       Exams Accepted
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="approvals" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#rank">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Accreditaion
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>

                        <div id="rank" class="collapse" data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>




                    <!-- 
                    </div> -->

                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#exams">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Exams
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>


                        <div id="exams" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>




                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#course_status">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Course Status
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="course_status" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#ownership">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                     Mode of Study
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="ownership" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#fees">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Facilities
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="fees" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>




                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#rankk">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                       Rank
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="rankk" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>





                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#ownership1">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                      Ownership
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="ownership1" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>





                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#approvals">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                     Approvals
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="approvals" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-9">
            <div class="row">


                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card3 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card3 -->

                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card3 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card3 -->





                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card3 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school_singlepage']">College Name</p>
                                </div>

                                <!-- <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div> -->
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>


                            <div>
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>

                            <div class="sec_hd">
                                <div class="d-flex">
                                    <div class="flex-fill">
                                        <p class="fontsize ">Course Name</p>
                                    </div>

                                    <div>

                                    </div>
                                </div>


                                <!-- starts-->
                                <div class="d-flex">
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                    <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                </div>
                                <!-- starts-->


                                <div class="d-flex">
                                    <div class="flex-fill">

                                    </div>

                                    <div class="row">
                                        <label class="rupee_syb">₹</label>&nbsp;
                                        <p class=" rupee_txt"> 5.37Lakhs </p>
                                    </div>
                                </div>


                                <div class="d-flex  txt_header justify-content-between">

                                    <div class="txt_jee">
                                        <button class="btn  btncolorshortlist ">JEE Main</button>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">
                                            &nbsp;Round 1</p>
                                    </div>
                                    <div>
                                        <p class="fontsizeuser1">&nbsp;Rank 703</p>
                                    </div>
                                    <div>

                                    </div>
                                </div>



                            </div>


                            <div class="vew_all">
                                <label class="vew_all_txt">View More</label>

                            </div>




                        </div>





                    </div>
                </div>

                <!-- card3 -->



            </div>
            <!-- //main div -->
        </div>





    </div>





    <div class="row dummy_hd">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item "><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
        <div class="col-sm-4"></div>
    </div>


</div>