.select_state {
    color: #000;
    width: 100%;
    background-color: #fff;
    border-radius: 0%;
}

.placments_header {
    margin-top: 5px;
}

.stateboard {
    color: #000;
    margin-top: 5%;
}

.stateboard1 {
    color: #000;
    margin-top: 15px;
}

.header {
    width: 100%;
    text-align: center;
    text-align: justify;
}

.top_header_normalmessage {
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-top: 2%;
}

.medium_type {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.read_more {
    width: 80%;
    font-size: 16px;
    font-weight: 500;
    color: #a6c2f2;
}

.read_more_txt {
    text-align: right;
}

.select_options {
    background-color: #fff;
    border-radius: 5px;
}

.header_droupdown1 {
    border: 1px solid #cad1d0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fff;
    width: 100%;
    border-right: none;
}

.header_droupdown {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #cad1d0;
    border-left: none;
    background: #fff;
    width: 100px;
    color: #a5adad
}

.header_droupdown1 {
    width: 90%;
}