<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home / Ask a Question</p>

        <h5 style="color: white;font-weight: 400;">Ask a Question</h5>
    </div>
</div>


<div class="container">



    <div class="top_header">
        <label class="top_header_txt">Need guidance on career  and education? Ask a Questions</label>
    </div>



    <div class="row mt15">
        <div class="form-group col-sm-10">
            <div class="input-group-prepend ">
                <input type="text" class="form-control" placeholder="Type your Questios" name="username">
            </div>
        </div>

        <div class="form-group col-sm-2">
            <div class=" text-center">
                <button [routerLink]="['/regular-state-board']" type="button" class="submit_button font-color-white">Submit</button>
            </div>
        </div>
    </div>


    <div class="top_header">
        <label class="top_header_txt">Questions</label>
    </div>


    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#colleges">Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#school">Discussion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#vendor">Unanswer Question  </a>
            </li>

        </ul>
    </div>



    <!-- {Tabs} -->



    <div class="tab-content">



        <div id="colleges" class="container tab-pane active">


            <!-- ---colleges -->
            <div id="accordion">



                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">


                            <label class="txt_all">View All (108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="txt_all">Comments</label>
                        </div>

                    </div>
                </div>




                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">View All (108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="txt_all">Comments</label>
                        </div>

                    </div>
                </div>





                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">View All (108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="txt_all">Comments</label>
                        </div>

                    </div>
                </div>





                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">View All (108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="txt_all">Comments</label>
                        </div>

                    </div>
                </div>




                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">View All (108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="txt_all">Comments</label>
                        </div>

                    </div>
                </div>





                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">View All (108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="txt_all">Comments</label>
                        </div>

                    </div>
                </div>






            </div>
        </div>
        <!-- 
{Tab 2} -->
        <div id="school" class="container tab-pane ">





            <div class="card mt3p">

                <div class="card-header ">


                    <a class="card-link a" data-toggle="collapse" href="#collapseOne">
          Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
            </a>
                </div>



                <div id="collapseOne">


                    <div class="card-body row ">
                        <div class="col-sm-4  ">
                            <ul class="list-group">
                                <img class="rounded" class="student_pro_details " src="assets/images/User.png ">
                                <label class=" txt_all">Second item</label>
                                <label class=" small_txt">Jan 21 </label>
                            </ul>
                        </div>
                        <div class="col-sm-8 ">
                            <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                        </div>

                    </div>

                </div>
                <hr>

                <div id="collapseOne">


                    <div class="card-body common_float">

                        <i class="fa fa-thumbs-up like_dislk" aria-hidden="true"></i> &nbsp;
                        <label class="like_dislk_txt">44 </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <i class="fa fa-thumbs-down like_dislk" aria-hidden="true"></i>&nbsp;
                        <label class="like_dislk_txt">12 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="txt_all">View All (108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="txt_all">Comments</label>
                    </div>

                </div>



            </div>

            <div class="card mt3p">

                <div class="card-header ">


                    <a class="card-link a" data-toggle="collapse" href="#collapseOne">
          Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
            </a>
                </div>



                <div id="collapseOne">


                    <div class="card-body row ">
                        <div class="col-sm-4  ">
                            <ul class="list-group">
                                <img class="rounded" class="student_pro_details " src="assets/images/User.png ">
                                <label class=" txt_all">Second item</label>
                                <label class=" small_txt">Jan 21 </label>
                            </ul>
                        </div>
                        <div class="col-sm-8 ">
                            <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                        </div>

                    </div>

                </div>
                <hr>

                <div id="collapseOne">


                    <div class="card-body common_float">

                        <i class="fa fa-thumbs-up like_dislk" aria-hidden="true"></i> &nbsp;
                        <label class="like_dislk_txt">44 </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <i class="fa fa-thumbs-down like_dislk" aria-hidden="true"></i>&nbsp;
                        <label class="like_dislk_txt">12 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="txt_all">View All (108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="txt_all">Comments</label>
                    </div>

                </div>



            </div>





            <div class="card mt3p">

                <div class="card-header ">


                    <a class="card-link a" data-toggle="collapse" href="#collapseOne">
          Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
            </a>
                </div>



                <div id="collapseOne">


                    <div class="card-body row ">
                        <div class="col-sm-4  ">
                            <ul class="list-group">
                                <img class="rounded" class="student_pro_details " src="assets/images/User.png ">
                                <label class=" txt_all">Second item</label>
                                <label class=" small_txt">Jan 21 </label>
                            </ul>
                        </div>
                        <div class="col-sm-8 ">
                            <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                        </div>

                    </div>

                </div>
                <hr>

                <div id="collapseOne">


                    <div class="card-body common_float">
                        <label class="txt_all">Hide All(108)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="txt_all">Comments</label>
                    </div>

                </div>
                <hr>






                <div id="collapseOne">


                    <div class="card-body row ">
                        <div class="col-sm-4  ">
                            <ul class="list-group">
                                <img class="rounded" class="student_pro_details " src="assets/images/User.png ">
                                <label class=" txt_all">Second item</label>
                                <label class=" small_txt">Jan 21 </label>
                            </ul>
                        </div>
                        <div class="col-sm-8 ">
                            <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                        </div>

                    </div>

                </div>
                <hr>

                <div id="collapseOne">


                    <div class="card-body common_float">


                        <label class="txt_all">Reply</label>
                    </div>


                </div>
                <hr>

                <div id="collapseOne">


                    <div class="card-body row ">
                        <div class="col-sm-4  ">
                            <ul class="list-group">
                                <img class="rounded" class="student_pro_details " src="assets/images/User.png ">
                                <label class=" txt_all">Second item</label>
                                <label class=" small_txt">Jan 21 </label>
                            </ul>
                        </div>
                        <div class="col-sm-8 ">
                            <label class="paragaraph_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
                        </div>

                    </div>

                </div>
                <div id="collapseOne">


                    <div class="card-body common_float">


                        <label class="txt_all">Reply</label>
                    </div>


                </div>

            </div>

            <div class="bottom_height"></div>


        </div>




        <!-- __Tab3-- -->


        <div id="vendor" class="container tab-pane ">


            <!-- ---colleges -->
            <div id="accordion">



                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="common_float_answer">

                            <div class="card-body ">
                                <label class="txt_all">Answer</label>

                            </div>
                        </div>



                        <div class="draw_line">
                            <hr>
                        </div>

                        <div class="input-group-prepend answer_search ">
                            <input type="text" class="form-control" placeholder="Type your Answer" name="username">
                        </div>

                        <div>
                            <hr>
                        </div>

                        <div class="card-body common_float">
                            <label class="txt_all">Cancel </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <label class="txt_all">Post</label>
                        </div>

                    </div>
                </div>




                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">Answer</label>
                        </div>

                    </div>
                </div>





                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">Answer</label>
                        </div>

                    </div>
                </div>





                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">Answer</label>
                        </div>

                    </div>
                </div>




                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">
                            <label class="txt_all">Answer</label>
                        </div>

                    </div>
                </div>





                <div class="card mt3p">

                    <div class="card-header ">
                        <small class="small_txt">June 21</small><br>

                        <a class="card-link a" data-toggle="collapse" href="#collapseOne">
              Questions Loren Ipsum is simply dummy text of the printing and typesetting industry?
                </a>
                    </div>
                    <div id="collapseOne">


                        <div class="card-body common_float">


                            <label class="txt_all">Answer</label>
                        </div>

                    </div>


                </div>






            </div>
        </div>





    </div>




</div>