.header {
    width: 100%;
    text-align: center;
    text-align: justify;
}

.top_header_normalmessage {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-top: 6px;
    text-align: center;
}

.top_header {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #e87a00;
}

.details {
    width: 100%;
}

.card_view {
    border: 1px solid #cad1d0;
    padding-bottom: 20px;
}

.card_txt {
    font-size: 14px;
    color: #7d7d7d;
    text-align: center;
}

.image_header {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.img {
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 50px;
}

.txt_link {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.showmore {
    color: #ed942e;
    font-size: 18px;
}

.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap {
    margin-top: -100px;
}