<app-other-header></app-other-header>

<div class="container-fluid p0">

    <div class="afternav" style="  height: 30vh;width: 100%;">
        <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
            <p style="color: white;"><i class="fa fa-long-arrow-left"></i>Home / Search Results</p>

            <h5 style="color: white;font-weight: 400;">Board Name</h5>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <div class="d-flex justify-content-between">
                <div class="filters_txt">Filters</div>
                <div class="reset_txt">Reset</div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">

            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <div class="input-group edt_height">
                        <div class="input-group-prepend edt_height">
                            <span class="input-group-text preborder  header_txt">Ownership</span>
                        </div>
                        <select class="form-control selectborder edt_height">
                            <option class="header_txt_select ">Private</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="input-group edt_height">
                        <div class="input-group-prepend edt_height">
                            <span class="input-group-text preborder  header_txt">Mode of Study</span>
                        </div>
                        <select class="form-control selectborder edt_height">
                            <option class="header_txt_select ">Regular State board</option>
                        </select>
                    </div>

                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="input-group edt_height">
                        <div class="input-group-prepend edt_height">
                            <span class="input-group-text preborder header_txt">Select Class</span>
                        </div>
                        <select class="form-control selectborder edt_height">
                            <option class="header_txt_select">CBSE</option>
                        </select>
                    </div>

                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="input-group edt_height">
                        <div class="input-group-prepend edt_height">
                            <span class="input-group-text preborder header_txt ">Nationality</span>
                        </div>
                        <select class="form-control selectborder edt_height">
                            <option class="header_txt_select">INDIA</option>
                        </select>
                    </div>

                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="input-group edt_height">
                        <div class="input-group-prepend edt_height">
                            <span class="input-group-text preborder header_txt ">Search By:</span>
                        </div>
                        <select class="form-control selectborder edt_height">
                            <option class="header_txt_select">Recent</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">


        <div class="col-12 col-sm-12 col-md-4  offset-md-3 col-lg-3 offset-lg-3 ">

            <div class="col-sm active_txt">
                Activity Filter :
            </div>
            <!-- <div class="col-sm submit_button group_txt">
                <label> Board Name</label> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-close" style="font-size:10px"></i>
            </div> -->
            <button class="btn group_txt">Board Name <i class="fa fa-close" style="font-size:10px"></i></button>

        </div>


        <!-- <div class="col-6 col-sm-6 col-md-6 col-lg-6"></div> -->
    </div>

    <div class="row mt-2">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-sm-2 mb-2">

            <div id="accordion">
                <div class="card my-2">
                    <div class="card-header" data-toggle="collapse" data-target="#collapseOne">
                        <div class="row">
                            <div class="col-sm-10 expand_view_header">
                                <label style="color: #626e71; font-weight: 700;" class="card-link">
                                    Location
                                </label>
                            </div>
                            <div class="col-sm-2 expand_view_headers">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show " data-parent="#accordion">

                        <div class="input-group shadow bg-white rounded my-2 ">
                            <input type="text" class="form-control searchborder search_bd" style="box-shadow: none;" placeholder="Search here">
                            <div class="input-group-append ">
                                <span class="input-group-text searchborder"><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <div style="margin-top: 10px;"></div>
                        </div>

                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Hyderabad
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Bangalore
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Chennai
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Pune
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Mumbai
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">
                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Delhi
                            </label>
                        </div>
                        <div style="margin-left: 10px;" class="form-check ">

                            <label class="city_color">
                                <input type="checkbox" class="form-check-input" name="optradio">Assam
                            </label>
                        </div>



                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapsetwo">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Categories
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>


                        <div id="collapsetwo" class="collapse " data-parent="#accordion">

                            <div style="margin-left: 10px;" class="form-check ">

                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>


                        </div>


                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#rating">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Rating
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="rating" class="collapse" data-parent="#accordion">

                            <div style="margin-left: 10px;" class="form-check ">

                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>


                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#accreditaion">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                    Class
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>


                        <div id="accreditaion" class="collapse " data-parent="#accordion">

                            <div style="margin-left: 10px;" class="form-check ">

                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>


                        </div>


                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#facilities">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Fees
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>


                        <div id="facilities" class="collapse " data-parent="#accordion">

                            <div style="margin-left: 10px;" class="form-check ">

                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>


                        </div>


                    </div>

                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#streams">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                     Streams
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="streams" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#approvals">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                       Exams Accepted
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="approvals" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#rank">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Accreditaion
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>

                        <div id="rank" class="collapse" data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>




                    <!-- 
                    </div> -->

                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#exams">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Exams
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>


                        <div id="exams" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>




                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#course_status">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Course Status
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="course_status" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#ownership">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                     Mode of Study
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="ownership" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#fees">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                        Facilities
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="fees" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>




                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#rankk">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                       Rank
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="rankk" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>





                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#ownership1">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                      Ownership
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="ownership1" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>





                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#approvals">
                            <div class="row">
                                <div class="col-sm-10 expand_view_header">
                                    <label style="color: #626e71; font-weight: 700;" class="card-link">
                                     Approvals
                                    </label>
                                </div>
                                <div class="col-sm-2 expand_view_headers">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div id="approvals" class="collapse " data-parent="#accordion">
                            <div style="margin-left: 10px;" class="form-check ">
                                <label class="city_color">
                                    <input type="checkbox" class="form-check-input" name="optradio">Assam
                                </label>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-9">
            <div class="row">


                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div [routerLink]="['/school-single-page']" class="flex-fill">
                                    <p class="fontsize " >School Name</p>
                                </div>

                                <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div>
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Board Name</p>
                                </div>

                                <div>
                                    <p class="fontsize ">Class Name</p>
                                </div>
                            </div>




                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Type- boarding school </p>
                                </div>

                                <div>
                                    <p class="fontsize "> Stream</p>
                                </div>
                            </div>


                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Accredtitaion </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Ownership</p>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Rank </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Approval</p>
                                </div>
                            </div>



                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Category </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Board category </p>
                                </div>
                            </div>



                            <!-- starts-->
                            <div class="d-flex">
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                            </div>
                            <!-- starts-->

                            <div class="d-flex  txt_header justify-content-between">
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                </div>
                                <div>

                                </div>
                            </div>






                            <div class="d-flex  justify-content-between">
                                <div>
                                    <button class="btn btnsize btncolorapply px-lg-3 px-md-3" [routerLink]="['/school_application']">Apply</button>
                                </div>
                                <div>
                                    <button class="btn btnsize btncolorshortlist px-lg-3 px-md-3">Shortlist</button>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>

                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school-single-page']">School Name</p>
                                </div>

                                <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div>
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Board Name</p>
                                </div>

                                <div>
                                    <p class="fontsize ">Class Name</p>
                                </div>
                            </div>




                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Type- boarding school </p>
                                </div>

                                <div>
                                    <p class="fontsize "> Stream</p>
                                </div>
                            </div>


                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Accredtitaion </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Ownership</p>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Rank </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Approval</p>
                                </div>
                            </div>



                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Category </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Board category </p>
                                </div>
                            </div>



                            <!-- starts-->
                            <div class="d-flex">
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                            </div>
                            <!-- starts-->

                            <div class="d-flex  txt_header justify-content-between">
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                </div>
                                <div>

                                </div>
                            </div>






                            <div class="d-flex  justify-content-between">
                                <div>
                                    <button class="btn btnsize btncolorapply px-lg-3 px-md-3" [routerLink]="['/school_application']">Apply</button>
                                </div>
                                <div>
                                    <button class="btn btnsize btncolorshortlist px-lg-3 px-md-3">Shortlist</button>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>

                <!-- card3 -->

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school-single-page']">School Name</p>
                                </div>

                                <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div>
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Board Name</p>
                                </div>

                                <div>
                                    <p class="fontsize ">Class Name</p>
                                </div>
                            </div>




                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Type- boarding school </p>
                                </div>

                                <div>
                                    <p class="fontsize "> Stream</p>
                                </div>
                            </div>


                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Accredtitaion </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Ownership</p>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Rank </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Approval</p>
                                </div>
                            </div>



                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Category </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Board category </p>
                                </div>
                            </div>



                            <!-- starts-->
                            <div class="d-flex">
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                            </div>
                            <!-- starts-->

                            <div class="d-flex  txt_header justify-content-between">
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                </div>
                                <div>

                                </div>
                            </div>






                            <div class="d-flex  justify-content-between">
                                <div>
                                    <button class="btn btnsize btncolorapply px-lg-3 px-md-3" [routerLink]="['/school_application']">Apply</button>
                                </div>
                                <div>
                                    <button class="btn btnsize btncolorshortlist px-lg-3 px-md-3">Shortlist</button>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>
                <!-- card3 -->


                <!-- card1 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school-single-page']">School Name</p>
                                </div>

                                <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div>
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Board Name</p>
                                </div>

                                <div>
                                    <p class="fontsize ">Class Name</p>
                                </div>
                            </div>




                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Type- boarding school </p>
                                </div>

                                <div>
                                    <p class="fontsize "> Stream</p>
                                </div>
                            </div>


                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Accredtitaion </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Ownership</p>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Rank </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Approval</p>
                                </div>
                            </div>



                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Category </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Board category </p>
                                </div>
                            </div>



                            <!-- starts-->
                            <div class="d-flex">
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                            </div>
                            <!-- starts-->

                            <div class="d-flex  txt_header justify-content-between">
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                </div>
                                <div>

                                </div>
                            </div>






                            <div class="d-flex  justify-content-between">
                                <div>
                                    <button class="btn btnsize btncolorapply px-lg-3 px-md-3" [routerLink]="['/school_application']">Apply</button>
                                </div>
                                <div>
                                    <button class="btn btnsize btncolorshortlist px-lg-3 px-md-3">Shortlist</button>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>

                <!-- card2 -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school-single-page']">School Name</p>
                                </div>

                                <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div>
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Board Name</p>
                                </div>

                                <div>
                                    <p class="fontsize ">Class Name</p>
                                </div>
                            </div>




                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Type- boarding school </p>
                                </div>

                                <div>
                                    <p class="fontsize "> Stream</p>
                                </div>
                            </div>


                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Accredtitaion </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Ownership</p>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Rank </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Approval</p>
                                </div>
                            </div>



                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Category </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Board category </p>
                                </div>
                            </div>



                            <!-- starts-->
                            <div class="d-flex">
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                            </div>
                            <!-- starts-->

                            <div class="d-flex  txt_header justify-content-between">
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                </div>
                                <div>

                                </div>
                            </div>






                            <div class="d-flex  justify-content-between">
                                <div>
                                    <button class="btn btnsize btncolorapply px-lg-3 px-md-3" [routerLink]="['/school_application']">Apply</button>
                                </div>
                                <div>
                                    <button class="btn btnsize btncolorshortlist px-lg-3 px-md-3">Shortlist</button>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>

                <!-- card3 -->

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

                    <div class="card my-2">
                        <div class="details ">
                            <img class="images " src="assets/images/school4.jpg " alt="Card image " style="width:100% ">
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize " [routerLink]="['/school-single-page']">School Name</p>
                                </div>

                                <div>
                                    <button class="btn btnsize btnadmission px-lg-3 px-md-3">Admission open</button>
                                </div>
                            </div>

                            <div class="d-flex">
                                <label class="location_details ">Location</label>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Board Name</p>
                                </div>

                                <div>
                                    <p class="fontsize ">Class Name</p>
                                </div>
                            </div>




                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Type- boarding school </p>
                                </div>

                                <div>
                                    <p class="fontsize "> Stream</p>
                                </div>
                            </div>


                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Accredtitaion </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Ownership</p>
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Rank </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Approval</p>
                                </div>
                            </div>



                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p class="fontsize ">Category </p>
                                </div>

                                <div>
                                    <p class="fontsize ">Board category </p>
                                </div>
                            </div>



                            <!-- starts-->
                            <div class="d-flex">
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                                <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
                            </div>
                            <!-- starts-->

                            <div class="d-flex  txt_header justify-content-between">
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-user icn"></i>&nbsp;5,1649 students</p>
                                </div>
                                <div>
                                    <p class="fontsizeuser"><i class="fa fa-clock-o icn"></i>&nbsp;Full Time</p>
                                </div>
                                <div>

                                </div>
                            </div>






                            <div class="d-flex  justify-content-between">
                                <div>
                                    <button class="btn btnsize btncolorapply px-lg-3 px-md-3" [routerLink]="['/school_application']">Apply</button>
                                </div>
                                <div>
                                    <button class="btn btnsize btncolorshortlist px-lg-3 px-md-3">Shortlist</button>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>
                <!-- card3 -->



            </div>
            <!-- //main div -->
        </div>





    </div>
</div>