.select-course{
    color:#586a6e;
}

.exams-heading{
    color:#586a6e;
}
.exam-title{
    color:#ff9a39;
}
.exam-sub-title{
    color:#637477;
    font-size: 18px;
}

.exam-sub-details{
    color:#c1c8c7;
}

.dates-title{
    color:#637477;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0 !important;
}
.date-details{
    color:#637477;
    margin-bottom: none !important;
}
.gray-read-more{
    color:#637477;
    font-weight: bold;
    font-size: 16px;
}
.blue-read-more{
    color:#0092ff;
    padding-top: 10px;
    font-size: 16px;
}
.update-btn{
    background-color: #ff9a39;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    color: white;
    font-size: 13px;
    border: none;
}

.details-btn{
    margin-top: 5%;
    background-color: white;
    border: 1px solid #c1c8c7;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    color: #c1c8c7;
    font-size: 13px;
}

.center-btn{
    display: flex;
    justify-content: center;
}
.card-height{
    height: 100%;
    border-radius: 0;
}
.pagination-position{
    justify-content: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ff9a39;
    border-color: #ff9a39;
}

.nav-item{
    padding: 1vw;
     }
    .fontstyle{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    }
    .fontweight{
        font-weight:bold ;
    }

    
  .container-fluid{
    padding: 0 !important;
}

.afternav{
    background-image:url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}


.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap{
    margin-top:-100px;
    /* position:absolute; */
}

.img1{
    width: 30%;
    height: 30%;
}

@media screen and (max-width: 600px) {
    .py-1 {
font-size: 12px;
    }
    p {
        font-size: 12px;
            }
    ul{
        padding: 0 !important;
    }
    h5{
        font-size: 18px;
    }

    h5{
        padding: 0 !important;
    }
  }