.top_header {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #51626a;
}

.top_header1 {
    margin-top: 3%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #51626a;
}

.top_header2 {
    margin-top: 3%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #51626a;
}

.top_header3 {
    margin-top: 3%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #51626a;
}

.top_header_normalmessage {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #575757;
    margin-top: 6px;
    text-align: justify !important;
}

.header {
    width: 100%;
    text-align: justify !important;
}

.details {
    width: 100%;
}

.details1 {
    width: 60%;
}

.btn_baground {
    border: 1px solid #a9b3b5;
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #4f6267;
}

.btn_baground1 {
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    color: #f8f8f8;
}

.btn_baground2 {
    font-size: 16px;
    font-weight: 400;
    color: #4c4c4c;
    width: 100%;
}

.select_options {
    background-color: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #f8f8f8;
}

.submit_button {
    margin-top: 3%;
    bottom: 20;
    border: 2px solid #ff9d43!important;
    border-radius: 25px;
    background-color: #ff9d43;
    width: 250px;
    height: 40px;
}

.font-color-white {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.bottom_height {
    height: 50px;
}

.checkbox {
    border-radius: 10px;
}
.afternav{
    background-image:url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}


.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap{
    margin-top:-100px;
    /* position:absolute; */
}