<app-other-header>
</app-other-header>

<!-- top baner start -->

<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Courses/College Predictor</p>

        <h5 style="color: white;font-weight: 400;">College Predictor</h5>
    </div>
</div>
<div class="container font-header py-5">


    <div class="top_header">
        <label>Select exams you have taken</label>
    </div>


    <div style="margin-top: 2%;" class="details row">


        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">JEE Main</button>


        </div>
        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">JEE Advance</button>
        </div>
        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">BITSAT</button>
        </div>
        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">UPSEE</button>
        </div>

    </div>


    <!-- dummy -->




    <div class="details row">


        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">JEE Main</button>


        </div>
        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">JEE Advance</button>
        </div>
        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">BITSAT</button>
        </div>
        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">UPSEE</button>
        </div>

    </div>



    <!-- dummy -->



    <div class="details row">


        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">JEE Main</button>


        </div>
        <div class="form-group col-sm-3">
            <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground">JEE Advance</button>
        </div>

    </div>



    <div class="top_header1">
        <label>Enter Exam Score / Rank </label>
    </div>


    <div class="header">
        <label class="top_header_normalmessage">
            Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem and is the brainchild of the SOUTHERN EDUCATIONAL AND RURAL DEVELOPMENT SOCIETY.


        </label>

    </div>



    <div class="details row m0">

        <div class="form-group col-sm-6 row  m0">
            <div class="top_header1">
                <label>JEE Main</label>

            </div>
            <div class="details1  m0">
                <div class="btn_baground1">
                    <button [routerLink]="['/expert-guidance']" type="button" class="btn btn_baground2">1020</button>
                </div>

            </div>


            <div class="details  m0">
                <label class="top_header2">Personal Details</label>
            </div>



            <div class="details row  m0">
                <label class="top_header3">Gender</label>
            </div>
            <div class="details row  m0">


                <div class=""><input type="radio"> &nbsp;Male</div>&nbsp;&nbsp;&nbsp;
                <div class=""><input type="radio"> &nbsp;Female</div>&nbsp;&nbsp;&nbsp;
                <div class=""><input type="radio"> &nbsp;other</div>&nbsp;&nbsp;&nbsp;
            </div>




        </div>
        <div class="form-group col-sm-6 row  m0">
            <div class="top_header1">
                <label>Category </label>
            </div>




            <div class="details row  m0">
                <select class="select_options form-control" style="width:100%">
          
                <option >General</option>
                <option >OBC</option>
                <option >SC</option>
                <option >ST</option>
                    </select>
            </div>


            <div class="top_header1  m0">
                <label>State Quota Eligibility </label>
            </div>


            <div class="details row  m0">

                <!-- <div class="details">
                    <lable>Pasupathi</lable>
                </div> -->
                <select class="select_options form-control" style="width:100%">
          
               
                <option >India</option>
                <option >TamilNadu</option>
                <option >Karnataka</option>
                <option >Kerala</option>
                <option >Mysore</option>
                    </select>
            </div>



            <div class="top_header1">
                <label>Preffered colleges (optional) </label>
            </div>




            <div class="details row  m0">
                <select class="select_options form-control" style="width:100%">
          
                <option >Select College</option>
                <option > College Name1</option>
                <option > College Name2</option>
                <option > College Name3</option>
                <option > College Name5</option>
                    </select>
            </div>





        </div>
    </div>



    <div class="details  m0">
        <div class=" text-center">
            <button [routerLink]="['/college-predictor-details']" type="button" class="submit_button font-color-white">NEXT</button>
        </div>


        <div class="bottom_height"></div>


    </div>