.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_header {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.top_header1 {
    margin-top: 2%;
    width: 100%;
    text-align: center;
}

.top_header_txt {
    font-size: 20px;
    color: #15afa2;
    font-weight: 400;
    text-align: justify;
}

.top_header_txt1 {
    font-size: 14px;
    color: #15afa2;
    font-weight: 500;
    text-align: justify;
}

.norma_fnt {
    color: #6f7c80;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}

.star_rattings {
    text-align: center;
    margin-top: 10px;
}

.feedback_txt {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.submit_button {
    margin-top: 3%;
    bottom: 20;
    border: 2px solid #ff9d3f!important;
    border-radius: 25px;
    background-color: #ff9d3f;
    height: 40px;
    width: 30%;
}

.pb10 {
    padding-bottom: 20px;
}