<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home /Feedback and Rattings</p>

        <h5 style="color: white;font-weight: 400;">Feedback and Rattings</h5>
    </div>
</div>

<div class="container">



    <div class="top_header">
        <label class="top_header_txt">Rattings and Feedback  </label>
    </div>

    <div class="top_header">
        <label class="norma_fnt">From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.  </label>
    </div>


    <div class="top_header1">
        <label class="top_header_txt1">RATINGS </label>
    </div>

    <div class="star_rattings">
        <div class="star_images ">
            <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>&nbsp;&nbsp;
            <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>&nbsp;&nbsp;
            <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>&nbsp;&nbsp;
            <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i> &nbsp;&nbsp;
            <i style="color:#f5a623 " class="fa fa-star " aria-hidden="true "></i>
        </div>
    </div>



    <div class="top_header1">
        <label class="top_header_txt1">FEEDBACKS </label>
    </div>



    <div class="row">
        <div class="form-group col-sm-3"></div>
        <div class="form-group col-sm-6 feedback_txt">

            <textarea row=5 type="text" class="form-control" placeholder="Type your Questios" name="username"></textarea>


        </div>
        <div class="form-group col-sm-3"></div>
    </div>



    <div class="pb10">
        <div class=" text-center">
            <button [routerLink]="['/expert-guidance']" type="button" class="submit_button font-color-white">Submit</button>
        </div>
    </div>


</div>