.preborder {
    background-color: white;
    border-right: none !important;
    border-radius: 30px;
}

.selectborder {
    border-left: none !important;
    border-radius: 30px;
}

.input-group-text,
.selectborder {
    font-size: 2vh;
}

.expand_view_headers {
    text-align: right;
    width: 50%;
}

.expand_view_header {
    width: 50%;
}

@media screen and (max-width:575px) {
    .input-group {
        /* width: 60%; */
        padding-top: 5px;
    }
    .selectborder,
    option {
        overflow: hidden;
    }
}

.searchborder {
    border-radius: 30px;
    border: none !important;
    background-color: white;
    /* box-shadow: 5px 10px #888888; */
}

.fontsize {
    font-size: 12px;
    font-weight: bold;
    color: #5e6a6e;
}

.course_details {
    font-size: 12px;
    font-weight: bold;
    color: #6a7579;
}

.fa-star {
    font-size: 12px;
}

.fontsizeuser {
    font-size: 11px;
    color: #a4a4a4;
}

.fontsizeapprove {
    font-size: 11px;
    color: #a4a4a4;
}

.btnsize {
    font-size: 15px;
}

.btncolorapply {
    background-color: chocolate;
    color: white;
    border-radius: 20px;
}

.btncolorshortlist {
    background-color: white;
    color: #1caba0;
    border-radius: 20px;
    border: 1px solid #1caba0;
}

.fontsizeaffialate {
    font-size: 12px;
    color: #a4a4a4;
    /* font-weight: 500; */
}

.btnadmission {
    background-color: #1caba0;
    color: white;
    border-radius: 25px;
    border: 1px solid #1caba0;
    font-size: 11px;
    text-align: right;
}

.location_details {
    font-size: 12px;
    color: #cdd4d3;
}

.icn {
    color: #1caba0;
}

.txt_header {
    margin-top: 5px;
}

.active_txt {
    color: #5e6a6e;
    font-size: 16px;
    font-weight: 500;
}

.submit_button {
    border: 2px solid #f1f3f4!important;
    border-radius: 25px;
    background-color: #f1f3f4;
    width: 100px;
    height: 30px;
}

.group_txt {
    text-align: center;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.reset_txt {
    color: #78c4ff;
    font-size: 14px;
}

.filters_txt {
    font-size: 14px;
    color: #5e6a6e;
}

.header_txt {
    color: #acacac;
    font-size: 10px;
    font-weight: bold;
}

.header_txt_select {
    color: #acacac;
    font-size: 10px;
}

.search_bd {
    text-align: center;
    width: 80%;
    border-radius: 25px;
    color: gray;
    border: 1px solid gray;
}

.edt_height {
    height: 100%;
}
.afternav{
    background-image:url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}


.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap{
    margin-top:-100px;
    /* position:absolute; */
}