<app-other-header></app-other-header>



<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Courses/Rank Predictor</p>

        <h5 style="color: white;font-weight: 400;">Rank Predictor</h5>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-sm-3">
            <p>Your Exam Score</p>
            <h5>90</h5>
        </div>
        <div class="col-sm-3">
            <p>Category</p>
            <h5>OBC</h5>
        </div>
        <div class="col-sm-3">
            <p>State</p>
            <h5>Karnataka</h5>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12">
            <p class="text-center">Your Predicted Rank</p>
            <h5 class="text-center">3059-3278</h5>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>College Name</th>
                        <th>Branch Name</th>
                        <th>Location</th>
                        <th>Closing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>college name</td>
                        <td>branch name</td>
                        <td>location</td>
                        <td>13454</td>
                    </tr>
                    <tr>
                        <td>college name</td>
                        <td>branch name</td>
                        <td>location</td>
                        <td>13454</td>
                    </tr>
                    <tr>
                        <td>college name</td>
                        <td>branch name</td>
                        <td>location</td>
                        <td>13454</td>
                    </tr>
                    <tr>
                        <td>college name</td>
                        <td>branch name</td>
                        <td>location</td>
                        <td>13454</td>
                    </tr>
                    <tr>
                        <td>college name</td>
                        <td>branch name</td>
                        <td>location</td>
                        <td>13454</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>