.top_header {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #51626a;
}

.top_header_normalmessage {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-top: 6px;
    text-align: justify !important;
}

.top_header_rankmessage {
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-top: 6px;
}

.header {
    width: 100%;
    text-align: justify !important;
}

.medium_type {
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    margin-top: 2%;
    width: 100%;
}

.details {
    width: 100%;
}

.details1 {
    width: 100%;
    text-align: center;
}

.submit_button {
    bottom: 20;
    border: 2px solid #ff9d43!important;
    border-radius: 25px;
    background-color: #ff9d43;
    width: 200px;
    height: 40px;
    margin-top: 10%;
}

.submit_button {
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 8;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 20px;
}

.container1:hover input~.checkmark {
    background-color: #ccc;
}

.container1 input:checked~.checkmark {
    background-color: #ff8348;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container1 input:checked~.checkmark:after {
    display: block;
}

.container1 .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.afternav{
    background-image:url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}


.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap{
    margin-top:-100px;
    /* position:absolute; */
}
