<app-other-header>
</app-other-header>

<div class="container-fluid p0">

    <div class="afternav" style="  height: 30vh;width: 100%;">
        <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
            <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Courses/Rank Predictor</p>

            <h5 style="color: white;font-weight: 400;">Rank Predictor</h5>
        </div>
    </div>

    <div class="container font-header py-5">
        <div class="top_header">
            <label>Rank Predictor</label>
        </div>

        <div class="header">
            <label class="top_header_normalmessage">
            Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem and is the brainchild of the SOUTHERN EDUCATIONAL AND RURAL DEVELOPMENT SOCIETY. Tagore Matric Higher Secondary School was established with an ennobling vision: Creating the leaders of the future, by imparting holistic education in an environment of excellence, where students and faculty from different parts of the world come together for the purpose of learning. The faculty, teaching pedagogy and facilities are of truly world-class standards which kindle a love for learning, a respect for cultural diversity and a strong sense of social responsibility among the students

Today, more than 7,000 students are gaining knowledge under its tutelage. Tagore is a name synonymous with quality of education provided by professionally trained and experienced faculty.
        </label>

        </div>


        <div class="top_header">
            <label class="medium_type">Select any Exam for Rank Predictor for Examing Prediction</label>
        </div>


        <div style="margin-top: 3%;" class="details row">


            <div class="form-group col-sm-4">


                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>


                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>



                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>




            </div>



            <div class="form-group col-sm-4">


                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>


                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>



                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>




            </div>


            <div class="form-group col-sm-4">


                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>


                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>



                <label class="container1">Rank Predictor for Exam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>




            </div>




            <div class="details">
                <div class=" text-center">
                    <button type="button" class="submit_button font-color-white" [routerLink]="['/rank-predictor-second']">NEXT</button>
                </div>
            </div>





        </div>



    </div>