<app-other-header>
</app-other-header>

<!-- top baner start -->

<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home/Expert Guidance</p>

        <h5 style="color: white;font-weight: 400;">Expert Guidance</h5>
    </div>
</div>

<div class="container font-header py-5">
    <div class="details">






        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#colleges">Career Counselor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#school">Exam Career Counselor</a>
                </li>

            </ul>
        </div>



        <div class="tab-content mb5vh">
            <!-- profile -->
            <div id="colleges" class="container tab-pane active"><br>
                <div class="header">
                    <label class="top_header_message">TALK TO Carrer  COUNSELLOR</label>
                </div>




                <div class="header">
                    <label class="top_header_normalmessage">
                        Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem and is the brainchild of the SOUTHERN EDUCATIONAL AND RURAL DEVELOPMENT SOCIETY. Tagore Matric Higher Secondary School was established with an ennobling vision: Creating the leaders of the future, by imparting holistic education in an environment of excellence, where students and faculty from different parts of the world come together for the purpose of learning. The faculty, teaching pedagogy and facilities are of truly world-class standards which kindle a love for learning, a respect for cultural diversity and a strong sense of social responsibility among the students
        
        Today, more than 7,000 students are gaining knowledge under its tutelage. Tagore is a name synonymous with quality of education provided by professionally trained and experienced faculty.
                    </label>
                </div>





                <div class="header">
                    <label class="top_header_message1">TIME SLOT</label>
                </div>

                <div class="details row ">
                    <div class="col-sm-3"></div>

                    <div class="col-sm-3">
                        <div class="form-group placments_header placments_header1">
                            <label for="date">Date:</label>
                            <input class="form-control" id="date" type="date">

                        </div>

                        <!-- <div class="input-group placments_header placments_header1">
        
                            <input class="header_droupdown form-control" type="date">
                        </div> -->

                    </div>
                    <div class="col-sm-3">

                        <div class="form-group placments_header placments_header2">
                            <label for="usr">Time:</label>
                            <input class="form-control" id="usr" type="time">
                        </div>


                        <!-- <div class="input-group placments_header placments_header2">
                            <label>time</label>
                            <input class="header_droupdown " type="time">
        
                        </div> -->


                    </div>

                    <div class="col-sm-3"></div>







                </div>




                <div class="header">
                    <label class="top_header_message1">MESSAGE</label>
                </div>


                <div class="details">

                    <textarea placeholder="Type you message here..." class="form-control" rows="5" name="text" style="background-color: #ffffff;">
        
        </textarea>
                </div>





            </div>
            <!-- profile -->

            <!-- activity -->
            <div id="school" class="container tab-pane fade"><br>
                <div class="header">
                    <label class="top_header_message">TALK TO Exam Carrer COUNSELLOR</label>
                </div>




                <div class="header">
                    <label class="top_header_normalmessage">
                        Tagore Matric Higher Secondary School, came into existence in 1986 at Deviyakurichi, near Attur, Salem and is the brainchild of the SOUTHERN EDUCATIONAL AND RURAL DEVELOPMENT SOCIETY. Tagore Matric Higher Secondary School was established with an ennobling vision: Creating the leaders of the future, by imparting holistic education in an environment of excellence, where students and faculty from different parts of the world come together for the purpose of learning. The faculty, teaching pedagogy and facilities are of truly world-class standards which kindle a love for learning, a respect for cultural diversity and a strong sense of social responsibility among the students
        
        Today, more than 7,000 students are gaining knowledge under its tutelage. Tagore is a name synonymous with quality of education provided by professionally trained and experienced faculty.
                    </label>
                </div>





                <div class="header">
                    <label class="top_header_message1">TIME SLOT</label>
                </div>

                <div class="details row ">
                    <div class="col-sm-3"></div>

                    <div class="col-sm-3">
                        <div class="form-group placments_header placments_header1">
                            <label for="date">Date:</label>
                            <input class="form-control" id="date" type="date">

                        </div>

                        <!-- <div class="input-group placments_header placments_header1">
        
                            <input class="header_droupdown form-control" type="date">
                        </div> -->

                    </div>
                    <div class="col-sm-3">

                        <div class="form-group placments_header placments_header2">
                            <label for="usr">Time:</label>
                            <input class="form-control" id="usr" type="time">
                        </div>


                        <!-- <div class="input-group placments_header placments_header2">
                            <label>time</label>
                            <input class="header_droupdown " type="time">
        
                        </div> -->


                    </div>

                    <div class="col-sm-3"></div>







                </div>




                <div class="header">
                    <label class="top_header_message1">MESSAGE</label>
                </div>


                <div class="details">

                    <textarea placeholder="Type you message here..." class="form-control" rows="5" name="text" style="background-color: #ffffff;">
        
        </textarea>
                </div>




                <!-- activity -->


            </div>



















            <!-- submit -->


            <div class="sub_btn"></div>

            <div class="details">
                <div class=" text-center">
                    <button [routerLink]="['/regular-state-board']" type="button" class="submit_button font-color-white">Submit</button>
                </div>
            </div>


        </div>




    </div>