.top_header_message {
    font-size: 20px;
    font-weight: 700;
    color: #32b9ae;
}

.top_header_message1 {
    font-size: 18px;
    font-weight: 500;
    color: #32b9ae;
}

.top_header_normalmessage {
    font-size: 14px;
    font-weight: 400;
    color: #818b8d;
    margin-top: 5%;
}

.details {
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.header {
    width: 100%;
    text-align: center;
}

.submit_button {
    bottom: 20;
    border: 2px solid #ff9d43!important;
    border-radius: 25px;
    background-color: #ff9d43;
    width: 200px;
    height: 40px;
}

.font-color-white {
    color: #fff;
}

.message {
    width: 80%;
}

.sub_btn {
    height: 100px;
}

.slect_date {
    border: 2px solid #818b8d!important;
    border-radius: 5px;
    background-color: #fff;
    width: 200px;
    height: 40px;
}

.placments_header {
    margin-top: 5px;
}

.header_droupdown {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #cad1d0;
    /* border-left: none; */
    background: #fff;
    width: 100px;
    color: #a5adad
}

.header_droupdown1 {
    border: 1px solid #cad1d0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fff;
    width: 100px
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

.afternav{
    background-image:url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}


.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageoverlap{
    margin-top:-100px;
    /* position:absolute; */
}