<div class="container-fluid bg-dark p-5">

    <div class="row pt-md-5 pt-lg-5 text-white">
        <p style="font-weight:bold;padding-bottom: 0 !important;">TAG</p>
    </div>

    <div class="row pb-md-5 pb-lg-5">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mx-auto text-white">
            <p> Loreum Ipsum is simply dummy text of the printing and type setting industry.Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
            <!-- <p class="text-primary"><i class="fa fa-android" aria-hidden="true"></i></p> -->
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="text-center" style="margin:0 !important"><i class="fa fa-android" aria-hidden="true"></i></p>
                    <p class="text-center">andriod</p>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                    <p class="text-center" style="margin:0 !important"><i class="fa fa-android" aria-hidden="true"></i></p>
                    <p class="text-center">ios</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row text-white">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <ul style="list-style-type: none;">
                        <li style="font-weight: bold;">ABOUT</li>
                        <li>How it works</li>
                        <li>Benefits</li>
                        <li>Features</li>
                    </ul>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <ul style="list-style-type: none;">
                        <li style="font-weight: bold;">SUPPORT</li>
                        <li>Blog</li>
                        <li [routerLink]="['faq']">Help & FAQ</li>
                        <li>Feedback & Ratings</li>
                        <li [routerLink]="['terms-conditions']">T&C</li>
                    </ul>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <ul style="list-style-type: none;">
                        <li style="font-weight: bold;">CONTACT</li>
                        <li>info@gmail.com</li>
                        <li>9876543210</li>
                        <li>f in</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>