<app-other-header></app-other-header>

<div class="afternav" style="  height: 30vh;width: 100%;">
    <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
        <p style="color: white;"><i class="fa fa-long-arrow-left"></i>Home School Comparision</p>

        <h5 style="color: white;font-weight: 400;">School Comparision</h5>
    </div>
</div>



<div class="container">



    <div>

        <div class="medium_type">
            <label class="medium_type">School  Comparision</label>
        </div>

        <div class="header">
            <label class="top_header_normalmessage">
                Tagore  School , came into existence in 1986 at Deviyakurichi, near Attur, Salem .
    
            </label>
        </div>
    </div>





    <div class="header_search row ">
        <div class="col-sm-2">
        </div>

        <div class="col-sm-2 mb25">
            <div style="height: 70%;" class="form-group place">
                <input _ngcontent-qap-c2="" class="form-control text-center" placeholder="School  Name 1 " style="height: 100%; border-radius: 3px;  background-color: #00afa5;color: #fff;" type="text">
            </div>
        </div>



        <div class="col-sm-2 mb25">
            <div style="height: 70%;" class="form-group place">
                <input _ngcontent-qap-c2="" class="form-control text-center" placeholder="School  Name 2" style="height: 100%; border-radius: 3px;  background-color: #00afa5;color: #fff;" type="text">
            </div>
        </div>


        <div class="col-sm-2 mb25">
            <div style="height: 70%; " class="form-group place">
                <input _ngcontent-qap-c2="" class="form-control text-center" placeholder="School  Name 3" style="height: 100%; border-radius: 3px;  background-color: #00afa5;color: #fff;" type="text">
            </div>
        </div>



        <div class="col-sm-2 mb25">
            <div style="height: 70%;" class="form-group place">
                <input _ngcontent-qap-c2="" class="form-control text-center" placeholder="School  Name 4" style="height: 100%; border-radius: 3px;  background-color: #00afa5;color: #fff;" type="text">
            </div>
        </div>

    </div>

    <!-- {second layout} -->

    <div class="header_search row ">




        <div class="col-sm-2">


        </div>




        <div class="col-sm-2 mb25">
            <select class="select_options form-control font_white" style="width:100%">
          
                <option  class="font_white">Class Name </option>
                <option >10th </option>
                <option >12 th</option>
                    </select>


        </div>



        <div class="col-sm-2 mb25">


            <select class="select_options form-control font_white" style="width:100%">
          
                <option  class="font_white">Class Name </option>
                <option >10th </option>
                <option >12 th</option>
                    </select>


        </div>


        <div class="col-sm-2 mb25">



            <select class="select_options form-control font_white" style="width:100%">
          
                <option  class="font_white">Class Name </option>
                <option >10th </option>
                <option >12 th</option>
                    </select>



        </div>



        <div class="col-sm-2 mb25">


            <select class="select_options form-control font_white" style="width:100%">
          
                <option  class="font_white">Class Name </option>
                <option >10th </option>
                <option >12 th</option>
                    </select>
        </div>

    </div>



    <!-- {third layout} -->




    <div class="header_search row ">




        <div class="col-sm-2">


        </div>




        <div class="col-sm-2 mb25">
            <ul class="list-group">
                <li class="list-group-item font_rank">Rank</li>
                <li class="list-group-item font_rank">Exam Recquired</li>
                <li class="list-group-item font_rank">Cut off</li>
                <li class="list-group-item font_rank"> Fee</li>
                <li class="list-group-item font_rank">Toatal Seats</li>
                <li class="list-group-item font_rank">Types</li>
                <li class="list-group-item font_rank">Categories</li>
                <li class="list-group-item font_rank">Academic</li>
                <li class="list-group-item font_rank">Stream</li>

                <li class="list-group-item font_rank">Infrastucture & Facilities</li>
                <li class="list-group-item font_rank">Reviews(2345)</li>
                <li class="list-group-item font_rank">Placment Avarage</li>
                <li class="list-group-item font_rank">Ownership</li>
                <li class="list-group-item font_rank">Application</li>

            </ul>

        </div>



        <div class="col-sm-2 mb25">


            <ul class="list-group">
                <li class="list-group-item font_rank">Rank</li>
                <li class="list-group-item font_rank">Exam Recquired</li>
                <li class="list-group-item font_rank">Cut off</li>
                <li class="list-group-item font_rank"> Fee</li>
                <li class="list-group-item font_rank">Toatal Seats</li>
                <li class="list-group-item font_rank">Types</li>
                <li class="list-group-item font_rank">Categories</li>
                <li class="list-group-item font_rank">Academic</li>
                <li class="list-group-item font_rank">Stream</li>

                <li class="list-group-item font_rank">Infrastucture & Facilities</li>
                <li class="list-group-item font_rank">Reviews(2345)</li>
                <li class="list-group-item font_rank">Placment Avarage</li>
                <li class="list-group-item font_rank">Ownership</li>
                <li class="list-group-item font_rank">Application</li>
            </ul>




        </div>


        <div class="col-sm-2 mb25">

            <ul class="list-group">
                <li class="list-group-item font_rank">Rank</li>
                <li class="list-group-item font_rank">Exam Recquired</li>
                <li class="list-group-item font_rank">Cut off</li>
                <li class="list-group-item font_rank"> Fee</li>
                <li class="list-group-item font_rank">Toatal Seats</li>
                <li class="list-group-item font_rank">Types</li>
                <li class="list-group-item font_rank">Categories</li>
                <li class="list-group-item font_rank">Academic</li>
                <li class="list-group-item font_rank">Stream</li>

                <li class="list-group-item font_rank">Infrastucture & Facilities</li>
                <li class="list-group-item font_rank">Reviews(2345)</li>
                <li class="list-group-item font_rank">Placment Avarage</li>
                <li class="list-group-item font_rank">Ownership</li>
                <li class="list-group-item font_rank">Application</li>
            </ul>





        </div>



        <div class="col-sm-2 mb25">
            <ul class="list-group">
                <li class="list-group-item font_rank">Rank</li>
                <li class="list-group-item font_rank">Exam Recquired</li>
                <li class="list-group-item font_rank">Cut off</li>
                <li class="list-group-item font_rank"> Fee</li>
                <li class="list-group-item font_rank">Toatal Seats</li>
                <li class="list-group-item font_rank">Types</li>
                <li class="list-group-item font_rank">Categories</li>
                <li class="list-group-item font_rank">Academic</li>
                <li class="list-group-item font_rank">Stream</li>

                <li class="list-group-item font_rank">Infrastucture & Facilities</li>
                <li class="list-group-item font_rank">Reviews(2345)</li>
                <li class="list-group-item font_rank">Placment Avarage</li>
                <li class="list-group-item font_rank">Ownership</li>
                <li class="list-group-item font_rank">Application</li>
            </ul>


        </div>




        <!-- {bottom Header} -->




    </div>





    <div class=" row ">
        <div class="col-sm-2 mb25">
            <label></label>
        </div>
        <div class="col-sm-2 mb25 socila_media">
            <label class="comparision">Share Comparision</label>
        </div>

        <div class="col-sm-2 mb25 socila_media">
            <label class="socila_media">Facebook </label>
        </div>


        <div class="col-sm-2 mb25 socila_media ">
            <label class="socila_media"> Twitter</label>
        </div>


        <div class="col-sm-2 mb25 socila_media">
            <label class="socila_media">Gmail</label>
        </div>
    </div>


    <div>
        <label class="notes_txt">Notes:</label> &nbsp;&nbsp;&nbsp;
        <label class="font_rank">Academic rating is according to teachers qualification .</label>
    </div>


    <div class="header_search"></div>
</div>