<app-other-header></app-other-header>



<div class="container-fluid p0">

    <div class="afternav" style="  height: 30vh;width: 100%;">
        <div class="layer" style="padding-left: 8vh;padding-top:5vh;">
            <p style="color: white;"><i class="fa fa-long-arrow-left"></i> Home /Results</p>

            <h2 style="color: white;font-weight: 400;">Results</h2>
        </div>
    </div>
    <!-- header -->



    <div class="container">


        <ul class="nav nav-tabs nav_style">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#profile">10th Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#activity">12th Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#applied">Entrance Exams</a>
            </li>
        </ul>



        <div class="tab-content mb5vh">
            <!-- 10th -->
            <div id="profile" class="container tab-pane active"><br>
                <div class="row">
                    <div class="col-sm-4">
                        <h5>10th Result</h5>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="form-control">
                              <option>Select Boards</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>
                </div>
            </div>
            <!-- 10th -->

            <!-- 12th -->
            <div id="activity" class="container tab-pane fade"><br>


                <div class="row">
                    <div class="col-sm-4">
                        <h5>12th Result</h5>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="form-control">
                              <option>Select Boards</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <h6>Karnataka State board</h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>
                </div>

            </div>

            <!-- 12th -->


            <!-- entrance exam -->
            <div id="applied" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-sm-4">
                        <h5>Entrance Exams Result</h5>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="form-control">
                              <option>Select Exam Names </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <label class="main_hd_txt">JEE Main Exam Results</label>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <label class="main_hd_txt"> Exam Names</label>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                           ">It is a long established fact that a reader will be distracted by the</a></h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                         ">It is a long established fact that a reader will be distracted by the</a></h6>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                         ">It is a long established fact that a reader will be distracted by the</a></h6>


                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <label class="main_hd_txt"> Exam Names</label>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <label class="main_hd_txt"> Exam Names</label>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>

                    <div style="border: 1px solid #f0f0f0;padding: 10px;">
                        <label class="main_hd_txt"> Exam Names</label>
                        <h6><a href="#" style="color: #0192ff;text-decoration: underline;
                        ">It is a long established fact that a reader will be distracted by the</a></h6>

                    </div>
                </div>
            </div>
            <!-- entrance exam -->
        </div>


    </div>
</div>