.afternav {
    background-image: url('http://2.citynews-genovatoday.stgy.ovh/~media/original-hi/57841679212311/leggere-libri-online-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.layer {
    background-color: rgba(83, 82, 82, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-tabs .nav-link.active {
    color: #00aea1;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-color: #fff;
    border-bottom: 3px solid #00aea1;
}

.paragraph_heading {
    color: #00aea1;
    font-size: 15px;
    font-weight: bold;
}

a {
    color: #586a6e;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

.change_btn {
    background-color: #ff9a39;
    color: white;
    border-radius: 20px;
}

.profile_btn {
    background-color: #ff9a39;
    color: white;
    border-radius: 20px;
}

.nav_style {
    /* background: #00ada2; */
    color: white;
}

.color_ffa811 {
    color: #ffa811 !important;
}

.applied_btn {
    border-radius: 20px;
    border: 1px solid grey;
}

.paynow_btn {
    border-radius: 20px;
    border: 1px solid #ff9a39;
    background-color: #ff9a39;
    color: white;
}

.applied_row_border {
    border: 1px solid #f6f6f6;
}

.question_submit_btn {
    background-color: #ff9a39;
    color: white;
}

.activity_question_border {
    border: 1px solid #f6f6f6;
}

.main_hd_txt {
    color: #53666c;
    font-size: 16px;
    font-weight: bold;
}