<div class="container">



    <div class="ratings">
        <label>Notifications</label>
    </div>




    <div class="review_user row">

        <div class="review_user cd_bg form-group">
            <div class="row py-2">
                <div class="col-sm-2">
                    <img src="https://images.unsplash.com/photo-1563805042-7684c019e1cb"
                    class="myimg" />
                    <label class="star_ratings_txt2">User Name</label>
                </div>
                <div class="col-sm-6">
                    
                </div>  

                <div  class="col-sm-4">
                    <i style="color: gray;" class="fa fa-clock-o " aria-hidden="true"></i>
                    <label class="star_ratings_txt2">11-02-2020 / 12:30 am </label>
                </div>
              
            </div>


            <div class="row">

                <label class="star_ratings_txt6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</label>

            </div>

        </div>


    </div>



    <div class="review_user row">

        <div class="review_user cd_bg form-group">
            <div class="row py-2">
                <div class="col-sm-2">
                    <img src="https://images.unsplash.com/photo-1563805042-7684c019e1cb"
                    class="myimg" />
                    <label class="star_ratings_txt2">User Name</label>
                </div>
                <div class="col-sm-6">
                    
                </div>  

                <div  class="col-sm-4">
                    <i style="color: gray;" class="fa fa-clock-o " aria-hidden="true"></i>
                    <label class="star_ratings_txt2">11-02-2020 / 12:30 am </label>
                </div>
              
            </div>


            <div class="row">

                <label class="star_ratings_txt6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</label>

            </div>

        </div>


    </div>

    <div class="review_user row">

        <div class="review_user cd_bg form-group">
            <div class="row py-2">
                <div class="col-sm-2">
                    <img src="https://images.unsplash.com/photo-1563805042-7684c019e1cb"
                    class="myimg" />
                    <label class="star_ratings_txt2">User Name</label>
                </div>
                <div class="col-sm-6">
                    
                </div>  

                <div  class="col-sm-4">
                    <i style="color: gray;" class="fa fa-clock-o " aria-hidden="true"></i>
                    <label class="star_ratings_txt2">11-02-2020 / 12:30 am </label>
                </div>
              
            </div>


            <div class="row">

                <label class="star_ratings_txt6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</label>

            </div>

        </div>


    </div>

    


    <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-3">
            <nav class="" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item "><a class="page-link pg_txt" href="#">Previous</a></li>
                    <li class="page-item "><a class="page-link pg_txt" href="#">1</a></li>
                    <li class="page-item "><a class="page-link pg_txt" href="#">2</a></li>
                    <li class="page-item "><a class="page-link pg_txt" href="#">3</a></li>
                    <li class="page-item "><a class="page-link pg_txt" href="#">Next</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>


        <div class="pagnt">

        </div>

    </div>


</div>