<!-- navbar related -->
<div class="container-fluid">
    <div style="background-color: rgb(196, 193, 193);height: 100%;width: 100%;">

        <div class="headerbackground">
            <div class="layer">



                <app-header></app-header>

                <div class="row h-50 justify-content-center align-items-center">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 mb13vh">
                        <p class="text-center banner-find-text" style="padding-top: 2vw;" [ngClass]="{ 'fontweight':true, 'fontstyle':true }">Find Your Best College</p>
                        <div style="padding-bottom: 2vw;" [ngClass]="{  'fontstyle':true }">
                            <h4 class="text-center banner_h4">Lorem Ipsum is simply dummy text of the printing and type setting industry</h4>
                            <h4 class="text-center banner_h4">Lorem Ipsum has been the industry's standard.</h4>
                        </div>
                        <div class="input-group mb-3" style="padding:10px;background-color:white;border-radius: 30px;">
                            <div class="input-group-prepend">
                                <select class="form-control" style="border-radius:20px;width: min-content;">
                                    <option selected value="none">Courses</option>
                                    <option>abc</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" style="margin-left: 10px;border:1px solid transparent" placeholder="What do you want to learn">
                            <button class="btn" style="border-radius: 20px;background-color: rgba(9, 148, 136);color: white;">SEARCH</button>

                        </div>

                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

        </div>
        <!-- navbar related -->






        <!-- explore content -->
        <div style="width:86%;margin-left:7%;background-color: white;position: absolute;margin-top: -5%;">
            <div class="row px-10">
                <div class="col-sm-4 width-33p" style="border-right: 1px solid powderblue;">

                    <div class="d-flex  py-2">
                        <div class="pr-md-2 pl-md-5 flex-fill">
                            <img class="imgsize" src="assets/images/search_icon.png">
                        </div>
                        <div class="pl-md-2 pr-md-5 flex-fill">
                            <p class="text-left" style="font-weight: bold;font-size: 2vw;">Explore</p>
                            <p style="font-size: 1vw;">Loreum epsum is simply dummy text lllll lllll</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 width-33p" style="border-right: 1px solid powderblue;">

                    <div class="d-flex  py-2">
                        <div class="pr-md-2 pl-md-5   flex-fill">
                            <img class="imgsize" src="assets/images/Inform.png">
                        </div>
                        <div class="pr-md-2 pl-md-5 flex-fill">
                            <p class="text-left" style="font-weight: bold;font-size: 2vw;">Apply</p>
                            <p style="font-size: 1vw;">Loreum epsum is simply dummy text lllll lllll</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 width-33p" style="border-right: 1px solid powderblue;">

                    <div class="d-flex  py-2">
                        <div class="pr-md-2 pl-md-5 flex-fill">
                            <img class="imgsize" src="assets/images/Books.png">
                        </div>
                        <div class="pr-md-2 pl-md-5 flex-fill">
                            <p class="text-left" style="font-weight: bold;font-size: 2vw;">Learn</p>
                            <p style="font-size: 1vw;">Loreum epsum is simply dummy text lllll lllll</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- explore content -->


        <!-- The POPUP -->
        <div class="modal fade" id="readmore1">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="pop_up_header ">
                        <h4 class=" pop_up_header"></h4>

                    </div>

                    <div class="dropdown">

                        <div class="row">

                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="sel1" class="popup_txt">Class</label>
                                    <select class="form-control" id="sel1">
                                        <option>Class </option>
                                        <option>Class</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sel1" class="popup_txt">Stream</label>
                                <select class="form-control" id="sel1">
                                    <option>Stream</option>
                                    <option>Stream</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 ">
                            <button class="btn btn-block btn-lg mx-auto mt-5 px-5" style="background-color: chocolate;color: white;border-radius: 30px;">Submit</button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>



                    <div class=" pop_up_header ">

                    </div>
                    <div>

                    </div>

                </div>
            </div>
        </div>

        <!-- ---POPUP-eND-- -->






        <!-- The POPUP -->
        <div class="modal fade" id="readmore">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="pop_up_header ">
                        <h4 class=" pop_up_header"></h4>

                    </div>

                    <div class="dropdown">

                        <div class="row">

                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="sel1" class="popup_txt">Course</label>
                                    <select class="form-control" id="sel1">
                                        <option>BE </option>
                                        <option>ME</option>
                                        <option>MBA</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sel1" class="popup_txt">Specialization</label>
                                <select class="form-control" id="sel1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 ">
                            <button class="btn btn-block btn-lg mx-auto mt-5 px-5" style="background-color: chocolate;color: white;border-radius: 30px;" data-dismiss="modal" [routerLink]="['/top-colleges']">Submit</button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>



                    <div class=" pop_up_header ">

                    </div>
                    <div>

                    </div>

                </div>
            </div>
        </div>

        <!-- ---POPUP-eND-- -->






        <!-- grey color bakground -->
        <div style="padding-top: 4%;background-color:#f4f4f4 ;">


            <hr style="width: 60%;margin-left: auto;">

            <div>
                <hr style="width: 3%;margin-left: auto;background-color: #379fe3;height: 0.2vw;border-radius: 2vw;">
                <P class="text-center" style="font-size: 2vw;font-weight: bold;padding-top: 0;">More Benefits</P>
                <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
            </div>

            <div class="container">
                <table class="table table-bordered bg-white">
                    <thead>
                        <tr>
                            <th>
                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/result.png ">
                                </div>
                                <!-- <img class="imgsize" style="float: left; padding: 10px;width:8vw" src=" assets/images/result.png "> -->

                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Top Colleges</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-center text-primary" data-toggle="modal" data-target="#readmore">Read more
                                    </p>

                                </div>


                            </th>
                            <th>

                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/rank_prediction.png ">
                                </div>

                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Rank Predictor</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-center text-primary " data-toggle="modal" data-target="#readmore1">
                                        Read more</p>
                                </div>
                            </th>
                            <th>

                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/get_admission.png ">
                                </div>

                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Get Admission</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p [routerLink]="['/school-comparision']" class="text-center text-primary">Read more</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>

                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/best_course.png ">
                                </div>


                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Best Courses</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-center text-primary">Read more</p>
                                </div>

                            </th>
                            <th>

                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/exams.png ">
                                </div>

                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Exams</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-center text-primary">Read more</p>
                                </div>
                            </th>
                            <th>


                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/college_comparission.png ">
                                </div>

                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">College Comparision</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-center text-primary">Read more</p>
                                </div>
                            </th>
                        </tr>
                        <tr>

                            <th>

                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/college_predicter.png ">
                                </div>


                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">College Predictor</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-center text-primary" [routerLink]="['/college-predictor']">Read more</p>
                                </div>

                            </th>
                            <th>

                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/salary.png ">
                                </div>


                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Salary Trend Report</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-center text-primary">Read more</p>
                                </div>
                            </th>
                            <th>

                                <div class="image_div">
                                    <img style="float: left; padding: 10px;" class="img_responsive" src=" assets/images/result.png ">
                                </div>

                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Results</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-center text-primary">Read more</p>
                                </div>
                            </th>

                        </tr>

                    </tbody>
                </table>
            </div>





            <hr style="width: 60%;margin-left: auto;">
            <div>
                <hr style="width: 3%;margin-left: auto;background-color: #379fe3;height: 0.2vw;border-radius: 2vw;">
                <P class="text-center" style="font-size: 2vw;font-weight: bold;padding-top: 0;">Discover More</P>
                <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
            </div>



            <div class="container">
                <table class="table table-bordered bg-grey" id="table2">
                    <thead class="bg-white">
                        <tr>
                            <th>



                                <div class="image_div">
                                    <img style="padding: 10px;" class="img_responsive" src=" assets/images/qa.png ">
                                </div>

                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Enterance Exam Tips</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-primary">Read more</p>
                                </div>

                            </th>
                            <th>
                                <div class="image_div">
                                    <img style=" padding: 10px;" class="img_responsive" src=" assets/images/online-learning.png  ">
                                </div>


                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Exam Preparation</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-primary">Read more</p>
                                </div>
                            </th>
                            <th>
                                <div class="image_div">
                                    <img style=" padding: 10px;" class="img_responsive" src=" assets/images/discover3.png  ">
                                </div>



                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">Exams</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-primary">Read more</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr>
                            <td>

                                <div class="image_div">
                                    <img style=" padding: 10px;" class="img_responsive" src=" assets/images/discover4.png  ">
                                </div>

                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">After 10th</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-primary">Read more</p>
                                </div>

                            </td>
                            <td>
                                <div class="image_div">
                                    <img style=" padding: 10px;" class="img_responsive" src=" assets/images/discover5.png  ">
                                </div>
                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">After 12th</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-primary">Read more</p>
                                </div>
                            </td>
                            <td>
                                <div class="image_div">
                                    <img style="padding: 10px;" class="img_responsive" src=" assets/images/discover6.png  ">
                                </div>
                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">After U.G</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-primary">Read more</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="image_div">
                                    <img style=" padding: 10px;" class="img_responsive" src=" assets/images/discover6.png  ">
                                </div>
                                <div>
                                    <p style="font-size:1.5vw;font-weight:bold">After P.G</p>
                                    <p style="font-weight:normal"> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                                    <p class="text-primary">Read more</p>
                                </div>

                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>




            <hr style="width: 60%;margin-left: auto;">
            <div>
                <hr style="width: 3%;margin-left: auto;background-color: #379fe3;height: 0.2vw;border-radius: 2vw;">
                <P class="text-center" style="font-size: 2vw;font-weight: bold;padding-top: 0;">Counselling</P>
                <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
            </div>


            <div class="container">

                <div class="row pt-5">
                    <div class="col-sm-5 col-5 col-lg-5 col-md-5 image_div2">
                        <img class="img_responsive2" src=" assets/images/illustration.png">
                    </div>

                    <div class="col-sm-5 col-5 col-lg-5 col-md-5 mx-auto pt-5">
                        <p style="font-size:2vw;font-weight:bold;padding-bottom: 0 !important;">Ask a Question</p>
                        <p> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                        <p class="text-primary" [routerLink]="['/ask-questions']">Read more</p>
                    </div>
                </div>


                <div class="row pt-5">

                    <div class="col-sm-5 col-5 col-lg-5 col-md-5 mx-auto pt-5">
                        <p style="font-size:2vw;font-weight:bold;padding-bottom: 0 !important;">Discussion</p>
                        <p> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                        <p class="text-primary">Read more</p>
                    </div>

                    <div class="col-sm-5 col-5 col-lg-5 col-md-5  image_div2 ">
                        <img class="img_responsive2" src=" assets/images/illustration_sc.png">
                    </div>
                </div>


                <div class="row pt-5 ">
                    <div class="col-sm-3 col-3 col-lg-3 col-md-3"></div>
                    <div class="col-sm-3 col-3 col-lg-3 col-md-3 image_div2">
                        <img class="img_responsive2" src=" assets/images/illustration_answer.png">
                    </div>

                    <div class="col-sm-5 col-5 col-lg-5 col-md-5 mx-auto p-5">
                        <p style="font-size:2vw;font-weight:bold;padding-bottom: 0 !important;">Make Right Choice</p>
                        <p> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                        <p class="text-primary">Read more</p>
                    </div>
                </div>

            </div>



            <div class="container">


                <div class="row">
                    <button class="btn btn-lg mx-auto mt-5 px-5" style="background-color: chocolate;color: white;border-radius: 20px;">TALK TO EXPERT</button>
                </div>
                <div class="pt-5">
                    <hr style="width: 60%;margin-left: auto;">
                </div>
                <div>
                    <hr style="width: 3%;margin-left: auto;background-color: #379fe3;height: 0.2vw;border-radius: 2vw;">
                    <P class="text-center" style="font-size: 2vw;font-weight: bold;padding-top: 0;">Interest of Your Courses
                    </P>
                    <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>


                <div class="row py-2">
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="https://www.boundless.org/wp-content/uploads/2006/02/daniel-canibano-556419-unsplash-1-1024x768.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Aerospace Engineering</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                                </p>
                                <!-- <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn" style="background-color: teal;color: white;">See
                                            Profile</a>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <a href="#" class="btn" style="color:rgb(54, 161, 233);border:2px solid teal;font-weight: bold;">50
                                    Available</a>
                                    </div>
                                </div> -->
                                <a href="#" class="btn" style="float: left;background-color: teal;color: white;">See
                                    Profile</a>
                                <a href="#" class="btn" style="float: right;color:rgb(54, 161, 233);border:2px solid teal;font-weight: bold;">50
                                    Available</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="https://www.boundless.org/wp-content/uploads/2006/02/daniel-canibano-556419-unsplash-1-1024x768.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Robotics & Automation</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                                </p>
                                <a href="#" class="btn" style="float: left;background-color: teal;color: white;">See
                                    Profile</a>
                                <a href="#" class="btn" style="float: right;color:rgb(54, 161, 233);border:2px solid teal;font-weight: bold;">50
                                    Available</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="https://www.boundless.org/wp-content/uploads/2006/02/daniel-canibano-556419-unsplash-1-1024x768.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Fashion technology</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                                </p>
                                <a href="#" class="btn" style="float: left;background-color: teal;color: white;">See
                                    Profile</a>
                                <a href="#" class="btn" style="float: right;color:rgb(54, 161, 233);border:2px solid teal;font-weight: bold;">50
                                    Available</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="https://www.boundless.org/wp-content/uploads/2006/02/daniel-canibano-556419-unsplash-1-1024x768.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Bio Technology</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                                </p>
                                <a href="#" class="btn" style="float: left;background-color: teal;color: white;">See
                                    Profile</a>
                                <a href="#" class="btn" style="float: right;color:rgb(54, 161, 233);border:2px solid teal;font-weight: bold;">50
                                    Available</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="https://www.boundless.org/wp-content/uploads/2006/02/daniel-canibano-556419-unsplash-1-1024x768.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Fashion Designing</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                                </p>
                                <a href="#" class="btn" style="float: left;background-color: teal;color: white;">See
                                    Profile</a>
                                <a href="#" class="btn" style="float: right;color:rgb(54, 161, 233);border:2px solid teal;font-weight: bold;">50
                                    Available</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="https://www.boundless.org/wp-content/uploads/2006/02/daniel-canibano-556419-unsplash-1-1024x768.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Animation Courses</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                                </p>
                                <a href="#" class="btn" style="float: left;background-color: teal;color: white;">See
                                    Profile</a>
                                <a href="#" class="btn" style="float: right;color:rgb(54, 161, 233);border:2px solid teal;font-weight: bold;">50
                                    Available</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>





            <div class="container-fluid" style="background-color:teal;">

                <p class="py-5" style="color:white;font-size:3vw;font-weight:bold;text-align: center;">Featured Colleges
                </p>
                <div class="px-5">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <!-- <label style="color: white;" for="usr">Course:</label> -->
                                <!-- <input type="text" class="form-control" id="usr"> -->
                                <select class="form-control" id="usr" style="border-radius: 20px;">
                                    <option>Location</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <p style="color:white;font-size:1vw;font-weight: bold;padding-left:10px;">Featured Colleges List</p>
                    <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="images">

                        <ngu-tile *nguCarouselDef="let item; let i = index">
                            <div class="tile" [style.background]="'url(' + item + ')'" style="min-height: 200px">

                            </div>
                            <div style="background-color:white;">
                                <p style="font-weight: bold;margin-bottom: 0px !important;">College Name</p>
                                <p>Location</p>
                                <div class="row p-2">
                                    <div class="col-6">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="col-6">
                                        <div style="font-size:1vw;color: teal;font-weight: bold;">SEE MORE <i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>

                            </div>
                        </ngu-tile>
                        <button NguCarouselPrev class="leftRs"><i class="fa fa-angle-left"
                                style="font-size:36px"></i></button>
                        <button NguCarouselNext class="rightRs"><i class="fa fa-angle-right"
                                style="font-size:36px"></i></button>
                    </ngu-carousel>
                </div>




                <div class="pt-5">
                    <hr style="width: 60%;margin-left: auto;">
                </div>
                <p class="pb-5" style="color:white;font-size:3vw;font-weight:bold;text-align: center;">Featured Schools
                </p>
                <div class="px-5">

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <!-- <label style="color: white;" for="usr">Course:</label> -->
                                <!-- <input type="text" class="form-control" id="usr"> -->
                                <select class="form-control" id="usr" style="border-radius: 20px;">
                                    <option>Location</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <p style="color:white;font-size:1vw;font-weight: bold;padding-left:10px;">Featured Schools List</p>
                    <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="images">

                        <ngu-tile *nguCarouselDef="let item; let i = index">
                            <div class="tile" [style.background]="'url(' + item + ')'" style="min-height: 200px">

                            </div>
                            <div style="background-color:white;">
                                <p style="font-weight: bold;margin-bottom: 0px !important;">School Name</p>
                                <p>Location</p>
                                <div class="row p-2">
                                    <div class="col-6">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="col-6">
                                        <div style="font-size:1vw;color: teal;font-weight: bold;">SEE MORE <i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>

                            </div>
                        </ngu-tile>
                        <button NguCarouselPrev class="leftRs"><i class="fa fa-angle-left"
                                style="font-size:36px"></i></button>
                        <button NguCarouselNext class="rightRs"><i class="fa fa-angle-right"
                                style="font-size:36px"></i></button>
                    </ngu-carousel>
                </div>

            </div>







            <div class="container">
                <div class="pt-5">
                    <!-- <div class="row"> -->
                    <!-- <i class="fa fa-user" style="color: teal;float: right;font-size: 100px;"
                            aria-hidden="true"></i> -->
                    <div style="float: center;">
                        <hr style="width: 3%;margin-left: auto;background-color: #379fe3;height: 0.2vw;border-radius: 2vw;">
                        <P class="text-center" style="font-size: 2vw;font-weight: bold;padding-top: 0;">Testimonials</P>
                        <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
                    </div>
                </div>

                <div>
                    <p align="center"><iframe [src]="safeSrc" width="70%" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


                        <ngu-carousel #myCarousel [inputs]="carouselTile3" [dataSource]="images3" style="width: 70%;">
                            <ngu-tile *nguCarouselDef="let item; let i = index">
                                <div class="tile" [style.background]="'url(' + item + ')'" style="min-height: 200px;width: 100%;">
                                </div>
                            </ngu-tile>
                            <button NguCarouselPrev class="leftRs"><i class="fa fa-angle-left"
                                    style="font-size:36px"></i></button>
                            <button NguCarouselNext class="rightRs"><i class="fa fa-angle-right"
                                    style="font-size:36px"></i></button>
                        </ngu-carousel>
                    </p>

                </div>

            </div>



            <div class="container ">
                <div class="pt-5">
                    <!-- <div class="row"> -->
                    <!-- <i class="fa fa-user" style="color: teal;float: right;font-size: 100px;"
                            aria-hidden="true"></i> -->
                    <div style="float: center;">
                        <P class="text-center" style="font-size: 2vw;font-weight: bold;padding-top: 0;">Study Abroad</P>
                        <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
                    </div>

                    <div class="row" style="height: 200px;">
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1">

                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                            <img class="imgsize" style="width:8vw; padding: 10px;" src=" assets/images/Line_Art_New York.png " style="width:100% ">
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                            <img style="width:8vw; padding: 10px;" src=" assets/images/Line_Art_Paris.png " style="width:100% ">
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                            <img class="imgsize" style="width:8vw; padding: 10px;" src=" assets/images/Line_Art_Rio de Janeiro.png " style="width:100% ">

                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                            <img class="imgsize" style="width:8vw; padding: 10px;" src=" assets/images/Line_Art_Moscow.png " style="width:100% ">
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                            <img class="imgsize" style="width:8vw; padding: 10px;" src=" assets/images/Line_Art_London.png " style="width:100% ">

                        </div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1">

                        </div>
                    </div>

                    <div class="row">
                        <button class="btn mx-auto btn-lg px-5" style="background-color: tomato;color: white;border-radius: 20px;">SEE ALL PLACES</button>
                    </div>

                </div>

            </div>





            <div class="container">


                <div class="pt-5" style="float: center;">
                    <hr style="width: 3%;margin-left: auto;background-color: #379fe3;height: 0.2vw;border-radius: 2vw;">
                    <!-- <P class="text-center" style="padding-top: 0;"><button style="font-size: 3vw;font-weight: bold;" type="btn" class="btn">Patner With US</button></P> -->
                    <!-- <button class="btn mx-auto btn-lg px-5" style="background-color: tomato;color: white;border-radius: 20px;">SEE ALL PLACES</button> -->
                    <div class="row">
                        <button class="btn mx-auto btn-lg px-5" style="background-color: tomato;color: white;border-radius: 20px;" data-toggle="modal" data-target="#patner">Patner With US</button>
                    </div>
                    <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>


                <div class="row py-3">

                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                </div>




                <div class="row py-3">

                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" style="font-weight: bold;"><i class="fa fa-envelope"></i>Videohive</p>
                    </div>
                </div>

            </div>



            <div class="container">


                <div class="pt-5" style="float: center;">
                    <hr style="width: 3%;margin-left: auto;background-color: #379fe3;height: 0.2vw;border-radius: 2vw;">
                    <P class="text-center" style="font-size: 3vw;font-weight: bold;padding-top: 0;">NEED HELP?</P>
                    <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>

                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                        <img class="imgsize" style="width:3vw; " src=" assets/images/Team.png ">

                        <div>
                            <p style="font-size:1.5vw;font-weight:bold">Support</p>
                            <p> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                            <div style="color: rgb(63, 175, 240);font-weight: bold;">Read more <i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                        <img class="imgsize" style="width:3vw; " src="assets/images/search_bg.png ">

                        <div>
                            <p style="font-size:1.5vw;font-weight:bold">Guide</p>
                            <p> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                            <div style="color: rgb(63, 175, 240);font-weight: bold;">Read more <i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center">
                        <img class="imgsize" style="width:3vw; " src=" assets/images/Check - inverse.png ">
                        <div>
                            <p style="font-size:1.5vw;font-weight:bold">Experts</p>
                            <p> Loreum Ipsum is simply dummy text of the printing and type setting industry. </p>
                            <!-- <p class="text-primary ">Read more</p> -->
                            <div style="color: rgb(63, 175, 240);font-weight: bold;">Read more <i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="container">


                <div class="pt-5" style="float: center;">
                    <hr style="width: 3%;margin-left: auto;background-color: #379fe3;height: 0.2vw;border-radius: 2vw;">
                    <P class="text-center" style="font-size: 3vw;font-weight: bold;padding-top: 0;">Feedback & Ratings
                    </P>
                    <p class="text-center" style="font-size: 1.5vw;padding-bottom: 2vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
                </div>

                <div class="row">
                    <div class="col-sm-6 mx-auto px-5">
                        <P style="font-size: 2.5vw;font-weight: bold;padding-top: 0;">Feedback & Ratings
                        </P>
                        <p style="font-size: 1.5vw;">Loreum Ipsum is simply dummy text of the printing and type setting industry. Loreum Ipsum is simply dummy text of the printing and type setting industry.</p>
                        <button class="btn px-md-5 px-lg-5" [routerLink]="['/feedback-rating']" style="background-color: rgb(243, 109, 56);border-radius: 30px;color: white;font-size: 2vw;">
                            Feedback and
                            Ratings</button>
                    </div>
                    <div class="col-sm-6 mx-auto px-5 ">
                        <img class="img_responsive2" src=" assets/images/illustration_sc.png">
                    </div>
                </div>

            </div>





        </div>
        <!-- grey color bakground -->



    </div>
</div>






























































<!-- login-signup-model -->

<!-- <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div style="text-align: center;background-color: transparent;">
            <h3><span style="background-color: rgba(9, 148, 136);color:white;padding: 10px;border-radius: 5px;">TAG</span>
            </h3>
        </div>
        <div class="modal-content">

            <div class="modal-header modal-header-login nav nav-pills">
                <h4 class="modal-title signupmodal nav-link" data-toggle="tab" href="#tab1">LOGIN</h4>
                <h4 class="modal-title signupmodal nav-link" data-toggle="tab" href="#tab2">SIGNUP</h4>

            </div>


            <div class="modal-body tab-content">
                <div class="tab-pane show active" id="tab1" role="tabpanel">

                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user" style="color: teal;"
                                        aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control borderleft" placeholder="Name">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-mobile" style="color: teal;"
                                        aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control borderleft" placeholder="Mobile Number">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope" style="color: teal;"
                                        aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control borderleft" placeholder="Email ID">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock" style="color: teal;"
                                        aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control borderleft" placeholder="Password">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-globe" style="color: teal;"
                                        aria-hidden="true"></i></span>
                            </div>
                            <select class="form-control borderleft">
                                <option selected>Nationality</option>
                            </select>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                            <label class="custom-control-label" for="customCheck">Keep me sign in</label>
                        </div>
                    </form>
                    <br>
                    <button class="btn btn-outline-light  mx-auto d-block  btn-lg btn-block" style="background-color: rgb(243, 109, 56);border-radius: 30px;"> CREATE AN ACCOUNT</button>
                </div>

                <div class="tab-pane" id="tab2" role="tabpane2">
                    <form>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-mobile" style="color: teal;"
                                        aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control borderleft" placeholder="Email or Mobile Number">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock" style="color: teal;"
                                        aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control borderleft" placeholder="Password">
                        </div>


                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                            <label class="custom-control-label" for="customCheck">Keep me sign in</label>
                        </div>
                    </form>
                    <br>
                    <button class="btn btn-outline-light  mx-auto d-block  btn-lg btn-block" style="background-color: rgb(243, 109, 56);border-radius: 30px;"> ACCESS TO MY
                        ACCOUNT</button>
                    <P style="text-align: center;">OR</P>
                    <button class="btn btn-outline-light  mx-auto d-block  btn-lg btn-block" style="background-color: rgb(243, 109, 56);border-radius: 30px;"><i class="fa fa-facebook"
                            aria-hidden="true"></i> FACEBOOK</button>
                    <button class="btn btn-outline-light  mx-auto d-block  btn-lg btn-block" style="background-color: rgb(243, 109, 56);border-radius: 30px;"><i class="fa fa-envelope"
                            aria-hidden="true"></i> GMAIL</button>
                    <br>
                    <p style="color:blue;text-align: center;" data-toggle="modal" data-target="#forgot" data-dismiss="modal">Forgot Password?</p>
                    <p style="color: grey;text-align: center;">By Signing up,you agree to terms of Use and Privacy Policy
                    </p>
                </div>


            </div>



        </div>
    </div>
</div> -->

<!-- login-signup-model -->



















<!-- forgot model -->

<!-- <div class="modal fade" id="forgot">
    <div class="modal-dialog ">
        <div style="text-align: center;background-color: transparent;">
            <h3><span style="background-color: rgba(9, 148, 136);color:white;padding: 10px;border-radius: 5px;">TAG</span>
            </h3>
        </div>
        <div class="modal-content">

            <div class="modal-header" style=" border-bottom: none !important">
                <h4 class="modal-title" style="text-align: center;margin-left: 30%;">Forgot Password</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email or Mobile Number or Email ID">
                </div>
                <button type="button" class="btn btn-block  mx-auto d-block" style="background-color: rgb(243, 109, 56);border-radius: 30px;color: white;font-weight: bold;" data-toggle="modal" data-target="#otp" data-dismiss="modal">SUBMIT</button>

            </div>

        </div>
    </div>
</div> -->

<!-- forgot model -->




<!-- otp -->

<!-- <div class="modal fade" id="otp">
    <div class="modal-dialog ">
        <div style="text-align: center;background-color: transparent;">
            <h3><span style="background-color: rgba(9, 148, 136);color:white;padding: 10px;border-radius: 5px;">TAG</span>
            </h3>
        </div>
        <div class="modal-content">

            <div class="modal-header" style=" border-bottom: none !important">
                <h4 class="modal-title" style="text-align: center;margin-left: 45%;">OTP</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Otp">
                </div>
                <button type="button" class="btn btn-block  mx-auto d-block" style="background-color: rgb(243, 109, 56);border-radius: 30px;color: white;font-weight: bold;">SUBMIT</button>
            </div>

        </div>
    </div>
</div> -->

<!-- otp -->



<!-- The POPUP -->
<div class="modal fade" id="patner">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="pop_up_header ">
                <h4 class=" pop_up_header"></h4>

            </div>

            <div class="dropdown">

                <div class="row">

                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="form-group patner_us">
                            <label for="sel1" class="popup_txt ">Partner With US</label>
                            <select class="form-control patner_us" id="sel1" (change)="patnerwithus($event.target.value)">
                                <option value="none" disabled>Select</option>
                                <option value="college" data-dismiss="modal" #college>Institute (College / School)
                                </option>
                                <option value="vendor" data-dismiss="modal" #vendor>
                                    Vendor</option>


                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>


            </div>


            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 ">
                    <button class="btn btn-block btn-lg mx-auto mt-5 px-5" style="background-color: chocolate;color: white;border-radius: 30px;" data-dismiss="modal">Submit</button>
                </div>
                <div class="col-sm-3"></div>
            </div>



            <div class=" pop_up_header ">

            </div>
            <div>

            </div>

        </div>
    </div>
</div>

<!-- ---POPUP-eND-- -->